.well h3 {
  margin-top: 0;
}

li.active a {
  color: #111;
}

/** NG CLOAK */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

footer {
    padding-bottom: 70px;
}

.pin_field {
    display: inline-block;
    width: 80px;
}

.expert_signoff {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2px;
}

.tick {
    color: #0B0;
}

.nav.nav-tabs {
    margin: 20px 0 30px 0;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
