.well h3 {
  margin-top: 0;
}

h1 small {
    letter-spacing: normal;
}

li.active a {
  color: #111;
}

.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.break-container {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
    padding-left: 15px;
    padding-right: 15px;
}

.less-gutter [class*="col-"] {
    padding-right: 0;
}

/** NG CLOAK */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

footer {
    padding-bottom: 70px;
}

.form-horizontal .help-block {
    margin-bottom: 0;
}

.table-nested {
    width: 100%;
    max-width: 100%;
}

.table-nested td {
    padding: 2px 0;
}

.nav.nav-tabs {
    margin: 20px 0 30px 0;
}

.navbar-worldskills span.navbar-brand:hover,
.navbar-worldskills span.navbar-brand:focus {
    color: #62b5e5 !important;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.popover {
    max-width: 900px;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.worldskills-document-edited-text {
    color: #0084AD;
}

.worldskills-document-text .color-alternative,
.worldskills-document-edited-text .color-alternative {
    color: #D51067;
}

.worldskills-document-text img,
.worldskills-document-edited-text img {
    vertical-align: top;
    max-width: 100%;
}

.worldskills-document-text ul,
.worldskills-document-edited-text ul {
    padding-left: 0;
}

.worldskills-document-text ul li,
.worldskills-document-edited-text ul li {
    list-style-type: none;
    padding-left: 20px;
}

.worldskills-document-text ul li:before,
.worldskills-document-edited-text ul li:before {
    content: '';
    float: left;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    width: 1em;
    margin-left: -1em;
}

.worldskills-document-text ul li ul li:before,
.worldskills-document-edited-text ul li ul li:before {
    list-style-type: circle;
}

.worldskills-document-text table,
.worldskills-document-edited-text table {
    margin-bottom: 1em;
    width: 100%;
}

.worldskills-document-text .table-bordered,
.worldskills-document-edited-text .table-bordered {
    border-color: #0084AD;
}
.worldskills-document-text .table-bordered > thead > tr > th,
.worldskills-document-text .table-bordered > tbody > tr > th,
.worldskills-document-text .table-bordered > tfoot > tr > th,
.worldskills-document-text .table-bordered > thead > tr > td,
.worldskills-document-text .table-bordered > tbody > tr > td,
.worldskills-document-text .table-bordered > tfoot > tr > td,
.worldskills-document-edited-text .table-bordered > thead > tr > th,
.worldskills-document-edited-text .table-bordered > tbody > tr > th,
.worldskills-document-edited-text .table-bordered > tfoot > tr > th,
.worldskills-document-edited-text .table-bordered > thead > tr > td,
.worldskills-document-edited-text .table-bordered > tbody > tr > td,
.worldskills-document-edited-text .table-bordered > tfoot > tr > td {
    border-color: #0084AD;
}

.worldskills-document-text th,
.worldskills-document-text td,
.worldskills-document-edited-text th,
.worldskills-document-edited-text td {
    padding: 0.5em 1em;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #0084AD;
}

.worldskills-document-text th,
.worldskills-document-edited-text th {
    background-color: #0084AD;
    color: #fff;
}

.worldskills-document-text td p:last-child,
.worldskills-document-text th p:last-child,
.worldskills-document-edited-text td p:last-child,
.worldskills-document-edited-text th p:last-child {
    margin-bottom: 0;
}

.worldskills-document-text tr.green-background td,
.worldskills-document-edited-text tr.green-background td {
    background-color: #8AE2D1;
    color: #003764;
}

.worldskills-document-diff ins {
    background-color: lightgreen;
}

.worldskills-document-diff del {
    background-color: pink;
}

.worldskills-highlight {
    background-color: #FFFF00;
}

.worldskills-replaced {
    background-color: #00FF00;
}


@media print {

    .nav-tabs {
        display: none;
    }

    .tab-content .tab-pane {
        display: block;
    }

    .skill-management-plan-day {
        page-break-after: always;
    }
}
