<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Skill Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/worldskills-bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href="skill_mgmt.css" rel="stylesheet">
  </head>
  <body ng-app="skillMgmtApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
     <div class="navbar navbar-worldskills navbar-static-top">
        <div class="cube-container">
            <div class="cube-right-bottom-blue">&nbsp;</div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ng-cloak translate>APP_NAME</a>
            </div>
            <div ng-show="auth.loggedIn">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                {{auth.user.first_name || ""}} {{auth.user.last_name || ""}} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default sr-only">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-cloak ng-show="auth.loggedIn">
        <div class="view-frame" ui-view></div>

        <hr class="hr-extended">

        <footer>
            <div class="row">
                <div class="col-md-10 col-sm-8">
                    <p>© {{date | date:'yyyy'}} WorldSkills International · <a href="https://www.worldskills.org/site/privacy/">Privacy</a> · <a href="https://www.worldskills.org/site/terms/">Terms</a></p>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div ng-show="auth.loggedIn">
                        <p class="site-user">{{auth.user.first_name || ""}} {{auth.user.last_name || ""}}, <a href="#" ng-click="logout()">Logout</a></p>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/worldskills-bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-worldskills-utils/src/angular-worldskills-utils.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/translate.js"></script>
        <script src="scripts/controllers/form_submission_list.js"></script>
        <script src="scripts/controllers/form_submission.js"></script>
        <script src="scripts/directives/spinner.js"></script>
        <script src="scripts/directives/alerts.js"></script>
        <script src="scripts/directives/select2_tags.js"></script>
        <script src="scripts/directives/form_fields.js"></script>
        <script src="scripts/services/language.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/alert.js"></script>
        <script src="scripts/services/PersonSkills.js"></script>
        <script src="scripts/services/EventForms.js"></script>
        <script src="scripts/services/FormSubmission.js"></script>
        <!-- endbuild -->
</body>
</html>
