<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Skill Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/worldskills-bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!--[if lte IE 9]>
    <script src="bower_components/xdomain/dist/xdomain.min.js"></script>
    <script src="xdomain/xdomain.js"></script>
    <![endif]-->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/angular-worldskills-utils/src/spinner.css">
    <link rel="stylesheet" href="bower_components/angular-worldskills-utils/src/angular-worldskills-utils.css" />
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="skillMgmtApp" ng-controller="MainCtrl" onbeforeunload="">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <ws-puppet p="auth.user.puppeteer"></ws-puppet>

     <div class="navbar navbar-worldskills navbar-static-top">
        <div class="cube-container">
            <div class="cube-right-bottom-blue">&nbsp;</div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="index" ng-show="!active.preview" ng-cloak>Skill M<span class="hidden-xs hidden-sm">ana</span>g<span class="hidden-xs hidden-sm">e</span>m<span class="hidden-xs hidden-sm">en</span>t</a>
                <span class="navbar-brand" ng-show="active.preview" ng-cloak>Skill M<span class="hidden-xs">ana</span>g<span class="hidden-xs">e</span>m<span class="hidden-xs">en</span>t</span>
            </div>
            <div ng-show="auth.loggedIn">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav" ng-show="active.skill && !active.preview">
                        <li ui-sref-active="{active: 'skill_plan'}"><a ui-sref="skill_plan.day({eventId: active.skill.event.id, skillId: active.skill.id, day: 'C1'})">Plans</a></li>
                        <li ui-sref-active="{active: 'skill_timetable'}"><a ui-sref="skill_timetable.day({eventId: active.skill.event.id, skillId: active.skill.id, day: 'C1'})">Timetables</a></li>
                        <li ui-sref-active="'active'"><a ui-sref="form_submission_list({eventId: active.skill.event.id, skillId: active.skill.id})">Forms</a></li>
                        <li ui-sref-active="{active: 'lunch'}"><a ui-sref="lunch.day({eventId: active.skill.event.id, skillId: active.skill.id, day: 'C1'})">Lunches</a></li>
                        <li ui-sref-active="'active'"><a ui-sref="lunch_group_list({eventId: active.skill.event.id, skillId: active.skill.id})">Groups</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-sm">{{auth.user.first_name || ""}} {{auth.user.last_name || ""}}</span>
                                <span class="visible-sm-inline"><span class="glyphicon glyphicon-user"></span></span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-show="userCanViewAllSubmissions || userCanEditForms"><a ui-sref="admin">Admin</a></li>
                                <li ng-show="userCanViewAllSubmissions || userCanEditForms" role="separator" class="divider"></li>
                                <li><a href="" ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-cloak ng-show="auth.loggedIn">
        <div class="view-frame" ui-view></div>

        <hr class="hr-extended">

        <footer>
            <div class="row">
                <div class="col-md-10 col-sm-8">
                    <p>
                        © {{date | date:'yyyy'}} WorldSkills International
                        <span class="hidden-print"> · <a href="https://www.worldskills.org/site/privacy/">Privacy</a> · <a href="https://www.worldskills.org/site/terms/">Terms</a></span>
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 hidden-print">
                    <div ng-show="auth.loggedIn">
                        <p class="site-user">{{auth.user.first_name || ""}} {{auth.user.last_name || ""}}, <a href="#" ng-click="logout()">Logout</a></p>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/worldskills-bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-worldskills-utils/src/angular-worldskills-utils.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/index.js"></script>
        <script src="scripts/controllers/translate.js"></script>
        <script src="scripts/controllers/form_submission_list.js"></script>
        <script src="scripts/controllers/form_submission.js"></script>
        <script src="scripts/controllers/plan.js"></script>
        <script src="scripts/controllers/skill_plan.js"></script>
        <script src="scripts/controllers/skill_timetable.js"></script>
        <script src="scripts/controllers/timetable.js"></script>
        <script src="scripts/controllers/lunch.js"></script>
        <script src="scripts/controllers/lunch_groups.js"></script>
        <script src="scripts/controllers/admin.js"></script>
        <script src="scripts/controllers/admin_form.js"></script>
        <script src="scripts/controllers/admin_items.js"></script>
        <script src="scripts/directives/spinner.js"></script>
        <script src="scripts/directives/alerts.js"></script>
        <script src="scripts/directives/select2_tags.js"></script>
        <script src="scripts/directives/form_fields.js"></script>
        <script src="scripts/services/language.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/alert.js"></script>
        <script src="scripts/services/Form.js"></script>
        <script src="scripts/services/CompetitionItem.js"></script>
        <script src="scripts/services/PersonSkills.js"></script>
        <script src="scripts/services/PersonRegistration.js"></script>
        <script src="scripts/services/SkillForms.js"></script>
        <script src="scripts/services/SkillTime.js"></script>
        <script src="scripts/services/FormSubmission.js"></script>
        <script src="scripts/services/FormSubmissionField.js"></script>
        <script src="scripts/services/FormSubmissionFieldPerson.js"></script>
        <script src="scripts/services/FormSubmissionFieldFile.js"></script>
        <script src="scripts/services/Plan.js"></script>
        <script src="scripts/services/Room.js"></script>
        <script src="scripts/services/LunchAllocation.js"></script>
        <script src="scripts/services/LunchAllocationGroup.js"></script>
        <script src="scripts/services/LunchPeriod.js"></script>
        <script src="scripts/services/LunchGroup.js"></script>
        <script src="scripts/services/LunchGroupRegistration.js"></script>
        <script src="scripts/services/Registration.js"></script>
        <script src="scripts/services/PersonRegistration.js"></script>
        <script src="scripts/services/Report.js"></script>
        <script src="scripts/services/Skill.js"></script>
        <script src="scripts/services/SkillItem.js"></script>
        <script src="scripts/services/SkillTimetableItem.js"></script>
        <script src="scripts/services/Timetable.js"></script>
        <script src="scripts/services/CompetitionDay.js"></script>
        <script src="scripts/services/Event.js"></script>
        <!-- endbuild -->
</body>
</html>
