<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <p>
                    <img class="img-circle" ng-show="expert.person.images[0]" class="img-responsive" ng-src="{{expert.person.images[0].links[1].href}}_square" width="60" height="60">
                    <img class="img-circle" ng-show="!expert.person.images[0]" class="img-responsive" src="https://people.worldskills.org/images/user.png" width="60" height="60">
                </p>
            </div>
            <div class="col-xs-8">
                <p>
                    <span ng-show="position">{{position}}<br/></span>
                    <strong>{{ expert.person.first_name }} {{ expert.person.last_name}}</strong> {{ expert.country.member.code }} <br />
                </p>
                <div class="row">
                    <div class="col-xs-5">
                        <input type="password" inputmode="numeric" pattern="[0-9]*" class="form-control" ng-model="expert.pin" maxlength="4" placeholder="PIN" ng-disabled="expert.pin == '9876'" />
                    </div>
                    <div class="col-xs-7">
                        <div class="form-control-static" ng-show="expert.pin.length == 4">
                            <i class="glyphicon glyphicon-ok text-success" ng-show="expert.pin == '9876'"></i>
                            <i class="glyphicon glyphicon-remove text-danger" ng-show="expert.pin != '9876'"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
