<ol class="breadcrumb">
    <li><a ui-sref="admin">Admin</a></li>
    <li><a ui-sref="admin_event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li class="active">Lunch in Workshop</li>
</ol>

<h1>Lunch in Workshop</h1>

<hr/>

<div ng-repeat="day in competitionDays.days | filter:{lunch:true}">
    <h3>Day {{ day.timeline }} <small>{{ day.date|date:'EEEE, d MMMM yyyy' }}</small></h3>

    <table class="table table-striped">
        <colgroup>
            <col width="40%" />
            <col width="30%" />
            <col width="30%" />
        </colgroup>
        <thead>
            <tr>
                <th>Skill</th>
                <th>Time</th>
                <th>People</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"></td>
            </tr>
        </tfoot
        <tbody>
            <tr ng-repeat="report in report.reports | filter:{competition_day_id:day.id, lunch_period:{id: lunchPeriod.id}}:true">
                <td>
                    {{ report.skill.number }} {{ report.skill.name.text }}
                </td>
                <td>
                    {{ report.lunch_period.start_time | limitTo:5 }} - {{ report.lunch_period.end_time | limitTo:5 }}
                </td>
                <td>
                    {{ report.total }}
                </td>
            </tr>
            <tr>
                <td colspan="2">Total</td>
                <td>
                    {{ day.total }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
