<ol class="breadcrumb">
    <li><a ui-sref="events">Events</a></li>
    <li><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li><a ui-sref="admin_event.form_list({eventId: event.id})">Event Admin</a></li>
    <li class="active">Competitor Names</li>
</ol>

<div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="exportNameChanges()" ng-disabled="loading">Export Name Changes (.xlsx)</button>
    <button class="btn btn-sm btn-default" ng-click="exportMissing()" ng-disabled="loading">Export Missing (.xlsx)</button>
</div>

<h1>Competitor Names</h1>

<hr/>

<table class="table table-hover">
    <colgroup>
        <col width="10%" />
        <col width="10%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
    </colgroup>
    <thead>
        <tr>
            <th>Skill</th>
            <th>Member</th>
            <th colspan="2">
                Name in People<br>
                Name in Skill Management
            </th>
            <th>Submitted</th>
            <th>
                Actions<br>
                <em>(Manually update names in CIS)</em>
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="10"></td>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="r in report.reports | filter:nameMismatch as filteredReports">
            <td title="{{ r.submission.skill.number }} {{ r.submission.skill.name.text }}">
                <div style="max-width: 10rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ r.submission.skill.number }} {{ r.submission.skill.name.text }}</div>
            </td>
            <td>
                <div style="max-width: 10rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ r.member_name }}</div>
            </td>
            <td ng-class="{'warning': r.person.first_name != r.first_name}">
                <a href="https://people.worldskills.org/people/{{r.person.id}}" target="_blank">{{ r.person.first_name }}</a>
                <br>
                <a ui-sref="admin_submission({eventId: event.id, formId: r.submission.form.id, id: r.submission.id})" target="_blank">{{ r.first_name }}</a>
            </td>
            <td ng-class="{'warning': r.person.last_name != r.last_name}">
                <a href="https://people.worldskills.org/people/{{r.person.id}}" target="_blank">{{ r.person.last_name }}</a>
                <br>
                <a ui-sref="admin_submission({eventId: event.id, formId: r.submission.form.id, id: r.submission.id})" target="_blank">{{ r.last_name }}</a>
            </td>
            <td>
                {{ r.submission.submitted|date:'d MMMM yyyy HH:mm' }}
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-xs" ng-click="overwritePeople(r)" ng-disabled="r.loading">Overwrite in People</button>
            </td>
        </tr>
        <tr ng-show="filteredReports.length == 0">
            <td colspan="7">No Competitors found</td>
        </tr>
        <tr ng-show="loading">
            <td colspan="7"><ws-spinner></ws-spinner></td>
        </tr>
    </tbody>
</table>
