<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: skill.event.id})">{{ skill.event.name }}</a></li>
    <li><a ui-sref="skill({eventId: skill.event.id, skillId: skill.id})">{{ skill.number }} {{ skill.name.text }}</a></li>
    <li class="active">{{ 'skill_admin' | translate }}</li>
</ol>

<p class="text-muted">
    {{ skill.event.name || "&nbsp;" }}
    <br/>
    {{ skill.number }} {{ skill.name.text || "&nbsp;" }}
</p>

<h1 class="align-top">{{ 'skill_admin' | translate }}</h1>

<ul class="nav nav-tabs">
    <li ng-show="userCanEditExperts" ui-sref-active="{active: 'admin_skill.expert_nominations'}"><a ui-sref="admin_skill.expert_nominations">{{ 'chief_expert_nominations' | translate }}</a></li>
    <li ng-show="userCanEditExperts" ui-sref-active="{active: 'admin_skill.experts'}"><a ui-sref="admin_skill.experts">{{ 'exclude_from_forms' | translate }}</a></li>
    <li ng-show="userCanEditSkillProgressItems" ui-sref-active="{active: 'admin_skill.progress'}"><a ui-sref="admin_skill.progress">{{ 'preparation_progress' | translate }}</a></li>
    <li ng-show="userIsAdmin" ui-sref-active="{active: 'admin_skill.form_submissions'}"><a ui-sref="admin_skill.form_submissions">{{ 'form_submissions' | translate }}</a></li>
</ul>

<div id="content" ui-view>
</div>
