<ol class="breadcrumb">
    <li><a ui-sref="events">Events</a></li>
    <li><a ui-sref="event.skills({eventId: skill.event.id})">{{ skill.event.name }}</a></li>
    <li><a ui-sref="skill({eventId: skill.event.id, skillId: skill.id})">{{ skill.number }} {{ skill.name.text }}</a></li>
    <li class="active">Skill Admin</li>
</ol>

<p class="text-muted">
    {{ skill.event.name || "&nbsp;" }}
    <br/>
    {{ skill.number }} {{ skill.name.text || "&nbsp;" }}
</p>

<h1 class="align-top">Skill Admin</h1>

<ul class="nav nav-tabs">
    <li ui-sref-active="{active: 'admin_skill.experts'}"><a ui-sref="admin_skill.experts">Experts</a></li>
    <li ui-sref-active="{active: 'admin_skill.progress'}"><a ui-sref="admin_skill.progress">Preparation Progress</a></li>
    <li ui-sref-active="{active: 'admin_skill.form_submissions'}"><a ui-sref="admin_skill.form_submissions">Form Submissions</a></li>
</ul>

<div id="content" ui-view>
</div>
