<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-8">
            <col class="col-xs-3">
        </colgroup>
        <thead>
            <tr>
                <th>Ordering</th>
                <th>Field</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="field in fields.fields" class="form-group form-group-sm">
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="moveFieldUp($index, field)" ng-disabled="$first || event.locked"><span class="glyphicon glyphicon-triangle-top"></span></button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="moveFieldDown($index, field)" ng-disabled="$last || event.locked"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                    </div>
                </td>
                <td>
                    <a href ng-if="!event.locked" ng-click="editField(field)">
                        <div ng-if="field.title">{{ field.title.text }}</div>
                        {{ field.text.text }}
                    </a>
                    <span ng-if="event.locked">
                        <div ng-if="field.title">{{ field.title.text }}</div>
                        {{ field.text.text }}
                    </span>
                </td>
                <td>
                    {{ field.type | translate }}
                </td>
            </tr>
            <tr ng-show="!fields.fields.length">
                <td colspan="3">No fields.</td>
            </tr>
        </tbody>
    </table>
</div>

<button type="button" class="btn btn-success btn-sm" ng-click="addField()" ng-disabled="event.locked"><span class="glyphicon glyphicon-plus"></span> Add Field</button>
