<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'event' | translate }}</div>
            <div class="panel-body">
                <p>
                    <button type="button" class="btn btn-danger" ng-click="lockEvent()" ng-disabled="event.locked">{{ 'lock_event' | translate }}</button>
                </p>
                <p>{{ 'message_after_locking_event' | translate }}</p>
                <p ng-show="event.locked" class="text-muted">{{ 'message_event_is_locked' | translate }}</p>
            </div>
        </div>
    </div>
</div>
