<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Event</div>
            <div class="panel-body">
                <p>
                    <button type="button" class="btn btn-danger" ng-click="lockEvent()" ng-disabled="event.locked">Lock Event</button>
                </p>
                <p>After locking an event it is no longer possible to edit Competition Items, Skills Items, Forms, or any other event related information.</p>
                <p ng-show="event.locked" class="text-muted">Event is locked.</p>
            </div>
        </div>
    </div>
</div>
