
<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="30%" />
            <col width="50%" />
            <col width="20%" />
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'progress_item' | translate }}</th>
                <th>
                  <span>{{ 'internal_notes' | translate }}</span>
                  <span class="text-muted font-weight-normal">
                    <span ng-show="!saving && !saved">{{ 'message_changes_are_saved_automatically' | translate }}</span>
                    <span ng-show="saving">{{ 'saving' | translate }}</span>
                    <span ng-show="!saving && saved">{{ 'saved' | translate }}</span>
                  </span>
                </th>
                <th>{{ 'status' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items.skill_progress_items">
                <td ng-class="{'font-weight-bold': item.progress_item.is_header}">
                    {{item.progress_item.title.text}}
                </td>
                <td>
                    <textarea ng-if="!item.progress_item.is_header" class="form-control" rows="2" ng-model="item.internal_notes" ng-change="itemChanged(item)"></textarea>
                </td>
                <td>
                    <div class="row" ng-if="item.progress_item.has_status">
                        <div class="col-md-8">
                            <a class="btn btn-block" style="background-color: {{item.status.color || '#999'}}; color: #fff;" ng-click="changeStatus(item)">{{item.status.name.text || "Unknown"}}</a>
                        </div>
                    </div>
                </td>
                <tr ng-show="items.skill_progress_items.length == 0">
                    <td colspan="3">{{ 'message_no_progress_items_found' | translate }}</td>
                </tr>
            </tr>
        </tbody>
    </table>
</div>
