<ol class="breadcrumb">
    <li><a ui-sref="admin">Admin</a></li>
    <li class="active">{{ event.name }}</li>
</ol>

<div class="pull-right">
    <div class="btn-group" uib-dropdown>
        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">Reports <span class="caret"></span></button>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ui-sref="admin_lunch_summary({eventId: event.id})">Lunch Summary</a></li>
            <li><a ui-sref="admin_lunch_in_workshop({eventId: event.id})">Lunch in Workshop</a></li>
            <li><a ui-sref="admin_competitor_finish_times({eventId: event.id})">Competitor Finish Times</a></li>
        </ul>
    </div>
</div>

<h1>{{ event.name }}</h1>

<ul class="nav nav-tabs">
    <li ui-sref-active="{active: 'admin_event.skills'}"><a ui-sref="admin_event.skills">Skills</a></li>
    <li ng-show="userCanEditCompetitionItems" ui-sref-active="{active: 'admin_event.items'}"><a ui-sref="admin_event.items({day: 'C1'})">Competition Items</a></li>
    <li ui-sref-active="{active: 'admin_event.form_list'}"><a ui-sref="admin_event.form_list">Forms</a></li>
    <li ui-sref-active="{active: 'admin_event.form_progress'}"><a ui-sref="admin_event.form_progress">Progress</a></li>
    <li ui-sref-active="{active: 'admin_event.competition_days'}"><a ui-sref="admin_event.competition_days">Competition Days</a></li>
    <li ui-sref-active="{active: 'admin_event.rooms'}"><a ui-sref="admin_event.rooms">Rooms</a></li>
    <li ui-sref-active="{active: 'admin_event.lunch_periods'}"><a ui-sref="admin_event.lunch_periods">Lunch Times</a></li>
</ul>

<div id="content" ui-view>
</div>
