<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li><a ui-sref="admin_event.form_list({eventId: event.id})">{{ 'event_admin' | translate }}</a></li>
    <li class="active">{{ 'competitor_date_of_birth' | translate }}</li>
</ol>

<h1>{{ 'competitor_date_of_birth' | translate }}</h1>

<hr/>

<table class="table table-hover">
    <colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="15%" />
        <col width="15%" />
        <col width="20%" />
        <col width="10%" />
    </colgroup>
    <thead>
        <tr>
            <th>{{ 'member' | translate }}</th>
            <th>{{ 'name_in_people' | translate }}</th>
            <th>{{ 'date_of_birth_in_people' | translate }}</th>
            <th>{{ 'in_skill_management' | translate }}</th>
            <th>{{ 'submitted' | translate }}</th>
            <th>{{ 'actions' | translate }}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="6"></td>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="r in report.reports | filter:dateOfBirthMismatch as filteredReports">
            <td>
                {{ r.member_name }}
            </td>
            <td>
                <a href="https://people.worldskills.org/#/people/person/{{r.person.id}}" target="_blank">{{ r.person.first_name }} {{ r.person.last_name }}
            </td>
            <td>
                {{ r.person.date_of_birth | date:'dd.MM.yyyy' }}
            </td>
            <td>
                {{ r.date_of_birth | date:'dd.MM.yyyy' }}
            </td>
            <td>
                {{ r.submission.submitted|date:'d MMMM yyyy HH:mm' }}
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-xs" ng-click="overwritePeople(r)" ng-disabled="r.loading">{{ 'overwrite_in_people' | translate }}</button>
            </td>
        </tr>
        <tr ng-show="filteredReports.length == 0">
            <td colspan="6">{{ 'message_no_competitors_found' | translate }}</td>
        </tr>
        <tr ng-show="loading">
            <td colspan="6"><ws-spinner></ws-spinner></td>
        </tr>
    </tbody>
</table>
