<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li><a ui-sref="admin_event.form_list({eventId: event.id})">{{ 'event_admin' | translate }}</a></li>
    <li><a ui-sref="admin_event.form_list({eventId: event.id})">{{ 'forms' | translate }}</a></li>
    <li class="active">{{ 'add_form' | translate }}</li>
</ol>

<h1>{{ 'add_form' | translate }}</h1>

<alerts></alerts>

<hr/>

<div id="content" ui-view autoscroll>
</div>
