<div class="row">
    <div class="col-lg-10 col-lg-offset-1">

        <form class="form-horizontal">
            <fieldset ng-disabled="event.locked">
                <div ng-repeat="competitionDay in competitionDays.days" class="form-group">
                    <div class="col-sm-2">
                        <div class="text-right"> 
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-xs" ng-click="swapDay($index, $index - 1)" ng-disabled="$first || event.locked"><span class="glyphicon glyphicon-triangle-top"></span></button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="swapDay($index, $index + 1)" ng-disabled="$last || event.locked"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <input class="form-control input-sm" ng-model="competitionDay.timeline" ng-change="competitionDayChanged(competitionDay)" placeholder="e.g. C+1">
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control input-sm" ng-model="competitionDay.date" ng-change="competitionDayChanged(competitionDay)" placeholder="YYYY-MM-DD">
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="competitionDay.lunch" ng-change="competitionDayChanged(competitionDay)"> Lunch
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="competitionDay.competitor_finish_time" ng-change="competitionDayChanged(competitionDay)"> Competitor Finish Time
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="removeCompetitionDay(competitionDay)"><span class="glyphicon glyphicon-ban-circle"></span> Remove</button>
                    </div>
                </div>
                <div class="form-group form-group-sm" ng-show="!competitionDays.days.length">
                    <div class="col-sm-4">
                        <p>No Competition days.</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-success btn-sm" ng-click="addCompetitionDay()"><span class="glyphicon glyphicon-plus"></span> Add Competition Day</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>
