<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li><a ui-sref="admin_event.form_list({eventId: event.id})">{{ 'event_admin' | translate }}</a></li>
    <li><a ui-sref="admin_event.progress_items({eventId: event.id})">{{ 'progress_items' | translate }}</a></li>
    <li class="active">{{id ? ('progress_item' | translate) : ('add_progress_item' | translate)}}</li>
</ol>

<ws-alerts></ws-alerts>

<p class="pull-right">
    <button ng-show="id" ng-click="deleteItem()" class="btn btn-danger">{{ 'delete_progress_item' | translate }}<ws-text-spinner ng-show="deleteLoading" class="ng-hide"></ws-text-spinner></button>
</p>

<div class="row">
<div class="col-lg-8 col-lg-offset-2">

<h1>{{id ? ('progress_item' | translate) : ('add_progress_item' | translate)}}</h1>

<br>

<div id="content" ui-view autoscroll>
</div>

</div>
</div>
