<ol class="breadcrumb">
    <li><a ui-sref="admin">Admin</a></li>
    <li><a ui-sref="admin_event.form_list({eventId: submission.form.event.id})">{{ submission.form.event.name }}</a></li>
    <li><a ui-sref="admin_form_detail.submissions({eventId: submission.form.event.id, id: submission.form.id})">{{ submission.form.name.text }}</a></li>
    <li class="active">{{ submission.skill.name.text }}</li>
</ol>

<alerts></alerts>

<div class="row">
<div class="col-lg-8 col-lg-offset-2">

<div class="page-header">
<p class="pull-right" ng-show="userCanRejectAllSubmissions">
    <button ng-click="rejectSubmission()" class="btn btn-danger">Reject<ws-text-spinner ng-show="rejectLoading" class="ng-hide"></ws-text-spinner></button>
</p>

<p>{{ submission.skill.number }} {{ submission.skill.name.text }}</p>

<h1>{{ submission.form.name.text }} <small>{{ submission.form.competition_day.timeline }}</small></h1>
</div>


<div ng-show="submission.form.description.text">
    <p>{{ submission.form.description.text }}</p>
    <br/>
</div>

<form role="form" novalidate>
    <div ng-repeat="field in submission.fields">
        <div class="form-group">
            <h4>{{ field.title.text }}</h4>
            <p ng-show="field.type != 'input_checkbox'">{{ field.text.text }}</p>

            <input ng-if="field.type == 'input_text'" type="text" class="form-control" ng-model="field.value" readonly="readonly" />

            <textarea ng-if="field.type == 'input_textarea'" class="form-control" rows="3" ng-model="field.value" readonly="readonly"></textarea>

            <div ng-if="field.type == 'input_yesno'">
                <label class="radio-inline">
                    <input type="radio" ng-model="field.checked" disabled="disabled" ng-value="true" >
                    Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="field.checked" disabled="disabled" ng-value="false" >
                    No
                </label>
            </div>

            <div ng-if="field.type == 'input_checkbox'" class="checkbox">
                <label>
                    <input type="checkbox" ng-model="field.checked" disabled="disabled" value="true" >
                    {{ field.text.text }}
                </label>
            </div>

            <div ng-if="field.type == 'expert_agreement' || field.type == 'competitor_agreement'" class="row">
                <span ng-repeat="person in field.people">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body" ng-class="{'bg-success': person.checked, 'bg-danger': !person.checked}">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p>
                                            <img class="img-circle" ng-show="person.person.images[0]" class="img-responsive" ng-src="{{person.person.images[0].thumbnail}}_square" width="60" height="60">
                                            <img class="img-circle" ng-show="!person.person.images[0]" class="img-responsive" src="https://people.worldskills.org/images/user.png" width="60" height="60">
                                        </p>
                                    </div>
                                    <div class="col-xs-9">
                                        <p>
                                            <strong>{{ person.person.first_name }} {{ person.person.last_name}}</strong>
                                            <span ng-repeat="entity in person.person.entities">
                                                <span ng-show="entity.id != 1 && entity.id != 83 && entity.id != 89" class="text-muted"><br/>{{ entity.name.text }}</span>
                                            </span>
                                        </p>
                                        <p>
                                            <i class="glyphicon glyphicon-ok text-success" ng-show="person.checked"></i>
                                            <i class="glyphicon glyphicon-remove text-danger" ng-show="!person.checked"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="$index % 2 == 1" class="clearfix"></div>
                </span>
            </div>

            <div ng-if="field.type == 'smt_agreement' || field.type == 'ce_agreement' || field.type == 'ce_jp_agreement' || field.type == 'jp_agreement'" class="row">
                <span ng-repeat="person in field.people" ng-form="formFieldPerson">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body" ng-class="{'bg-success': person.checked, 'bg-danger': submitted && formFieldPerson.pin.$invalid}">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p>
                                            <img class="img-circle" ng-show="person.person.images[0]" class="img-responsive" ng-src="{{person.person.images[0].thumbnail}}_square" width="60" height="60">
                                            <img class="img-circle" ng-show="!person.person.images[0]" class="img-responsive" src="https://people.worldskills.org/images/user.png" width="60" height="60">
                                        </p>
                                    </div>
                                    <div class="col-xs-9">
                                        <p>
                                            <span ng-show="person.position">{{person.position}}<br/></span>
                                            <strong>{{ person.person.first_name }} {{ person.person.last_name}}</strong>
                                            <span ng-repeat="entity in person.person.entities">
                                                <span ng-show="entity.id != 1 && entity.id != 83 && entity.id != 89" class="text-muted"><br/>{{ entity.name.text }}</span>
                                            </span>
                                        </p>
                                        <p>
                                            <i class="glyphicon glyphicon-ok text-success" ng-show="person.checked"></i>
                                            <i class="glyphicon glyphicon-remove text-danger" ng-show="!person.checked"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="$index % 2 == 1" class="clearfix"></div>
                </span>
            </div>

            <div ng-if="field.type == 'competitor_toolbox'">
                <div ng-repeat="person in field.people">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="checkbox">
                                <strong>{{ person.person.first_name }} {{ person.person.last_name}}</strong>
                                <span ng-repeat="entity in person.person.entities">
                                    <span ng-show="entity.id != 1 && entity.id != 83 && entity.id != 89" class="text-muted"><br/>{{ entity.name.text }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="person.checked" disabled="disabled" value="true">
                                    Toolbox checked
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <textarea class="form-control" rows="2" ng-model="person.value" readonly="readonly"></textarea>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>

            <div ng-if="field.type == 'competitor_check'">
                <div ng-repeat="person in field.people" ng-form="formFieldPerson">
                    <hr/>
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="competitiorFirstName{{ person.person.id }}">First name for certificate:</label>
                                        <input type="text" id="competitiorFirstName{{ person.person.id }}" class="form-control" ng-model="person.competitor_first_name" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="competitiorLastName{{ person.person.id }}">Last name:</label>
                                        <input type="text" id="competitiorLastName{{ person.person.id }}" class="form-control" ng-model="person.competitor_last_name" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="competitiorNameOfficial{{ person.person.id }}">Name on passport or identity card:</label>
                                <input type="text" id="competitiorNameOfficial{{ person.person.id }}" class="form-control" ng-model="person.competitor_name_official" readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label for="competitiorPassport{{ person.person.id }}">Passport or identity card number:</label>
                                <input type="text" id="competitiorPassport{{ person.person.id }}" class="form-control" ng-model="person.competitor_passport" readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label for="competitiorDateOfBirth{{ person.person.id }}">Date of birth:</label>
                                <input type="date" id="competitiorDateOfBirth{{ person.person.id }}" class="form-control" ng-model="person.competitor_date_of_birth" readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label for="competitiorLanguageTestProject{{ person.person.id }}">Language for Test Project:</label>
                                <input type="text" id="competitiorLanguageTestProject{{ person.person.id }}" class="form-control" ng-model="person.competitor_language_test_project" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="panel panel-default">
                                <div class="panel-body" ng-class="{'bg-success': person.checked, 'bg-danger': !person.checked}">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <p>
                                                <img class="img-circle" ng-show="person.person.images[0]" class="img-responsive" ng-src="{{person.person.images[0].thumbnail}}_square" width="60" height="60">
                                                <img class="img-circle" ng-show="!person.person.images[0]" class="img-responsive" src="https://people.worldskills.org/images/user.png" width="60" height="60">
                                            </p>
                                        </div>
                                        <div class="col-xs-8">
                                            <p>
                                                <strong>{{ person.person.first_name }} {{ person.person.last_name}}</strong>
                                                <span ng-repeat="entity in person.person.entities">
                                                    <span ng-show="entity.id != 1 && entity.id != 83 && entity.id != 89" class="text-muted"><br/>{{ entity.name.text }}</span>
                                                </span>
                                            </p>
                                            <p>
                                                <i class="glyphicon glyphicon-ok text-success" ng-show="person.checked"></i>
                                                <i class="glyphicon glyphicon-remove text-danger" ng-show="!person.checked"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</form>

</div>
</div>
