
<alerts></alerts>

<div class="form-group form-group-sm" ng-show="skill.smt_election_state == 'IN_PROGRESS'">
    <div class="col-sm-offset-6 col-sm-6">
        <button ng-click="closePoll()" class="btn btn-sm btn-warning">{{ 'smt_election_close_poll' | translate }}</button>
    </div>
    <div class="clearfix"></div>
    <br>
</div>

<div ng-if="skill.smt_election_state == 'COMPLETED'">
    <div class="alert alert-info">
        <strong>{{ 'smt_election_results' | translate }}</strong>
        <br><br>
        <div ng-repeat="result in votes.results">
            {{ result.person.person.first_name }} {{ result.person.person.last_name }} {{ result.person.member.code }} ({{ result.points }} points)
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="5%" />
            <col width="25%" />
            <col width="20%" />
            <col width="50%" />
        </colgroup>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ 'expert' | translate }}</th>
                <th>{{ 'history' | translate }}</th>
                <th>{{ 'nominations' | translate }}/{{ 'vote' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="expert in experts.registration_people">
                <td>
                    <img class="img-circle img-responsive" ng-show="expert.person.images[0]" ng-src="{{expert.person.images[0].thumbnail}}_square" width="60" height="60" ng-click="expert.history_override = 1">
                    <img class="img-circle img-responsive" ng-show="!expert.person.images[0]" src="https://people.worldskills.org/images/user.png" width="60" height="60" ng-click="expert.history_override = 1">
                </td>
                <td>
                    {{ expert.person.first_name }} {{ expert.person.last_name }}
                    <span class="text-muted"><br/>{{ expert.member.code }} - {{ expert.member.name.text }}</span>
                </td>
                <td>
                    <div class="checkbox">
                        <u class="text-success" ng-if="expert.history.length > 0" uib-popover-template="'views/admin_skill_expert_nominations_history.html'" popover-trigger="mouseenter">{{expert.history.length}} {{ 'expert_position_s' | translate }}</u>
                    </div>
                </td>
                <td>
                    <div class="checkbox" ng-if="expert.history_override || expert.nominated_smt || expert.history.length" ng-show="skill.smt_election_state == 'NOT_STARTED'">
                        <label>
                            <input type="checkbox" ng-model="expert.nominated_smt" ng-change="expertChanged(expert)"> {{ 'nominated_for_chief_expert' | translate }}
                        </label>
                    </div>
                    <div ng-if="skill.smt_election_state == 'IN_PROGRESS'">
                        <span ng-show="expert.vote" class="label label-success">
                            <span class="glyphicon glyphicon-check"></span> {{ 'voted' | translate }}
                        </span>
                        <span ng-show="!expert.vote" class="label label-danger">
                            <span class="glyphicon glyphicon-remove"></span> {{ 'not_voted' | translate }}
                        </span>
                    </div>
                </td>
            </tr>
            <tr ng-show="experts.registration_people.length == 0">
                <td colspan="4">{{ 'message_no_experts_found' | translate }}</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="4"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="form-group form-group-sm" ng-show="skill.smt_election_state == 'NOT_STARTED'">
    <div class="col-sm-offset-6 col-sm-6">
        <button ng-click="createPoll()" class="btn btn-sm btn-warning">{{ 'create_poll_for_smt_election' | translate }}</button>
        <!-- <span class="text-muted">(Only available from C4 at 12:00)</span> -->
    </div>
</div>
