
<alerts></alerts>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="10%" />
            <col width="80%" />
            <col width="10%" />
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'day' | translate }}</th>
                <th>{{ 'name' | translate }}</th>
                <th>{{ 'form_multiple_submissions_short' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="form in forms.forms">
                <td>{{ form.competition_day.timeline }}</td>
                <td><a ui-sref="admin_form_detail.submissions({eventId: event.id, id: form.id})">{{ form.name.text }}</a></td>
                <td>
                    <span class="glyphicon glyphicon-repeat text-info" ng-show="form.multiple_submissions" title="{{ 'message_form_multiple_submissions' | translate }}"></span>
                </td>
            </tr>
            <tr ng-show="forms.total_count == 0">
                <td colspan="3">{{ 'message_no_forms_found' | translate }}</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="3"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-success btn-sm" ui-sref="admin_form_create.form({eventId: event.id, id: form.id})" ng-hide="event.locked"><span class="glyphicon glyphicon-plus"></span> {{ 'add_form' | translate }}</a>
