
<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="5%" />
            <col width="25%" />
            <col width="35%" />
            <col width="35%" />
        </colgroup>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ 'expert' | translate }}</th>
                <th>{{ 'forms' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="expert in experts.registration_people">
                <td>
                    <img class="img-circle img-responsive" ng-show="expert.person.images[0]" ng-src="{{expert.person.images[0].thumbnail}}_square" width="60" height="60">
                    <img class="img-circle img-responsive" ng-show="!expert.person.images[0]" src="https://people.worldskills.org/images/user.png" width="60" height="60">
                </td>
                <td>
                    {{ expert.person.first_name }} {{ expert.person.last_name }}
                    <span class="text-muted"><br/>{{ expert.member.code }} - {{ expert.member.name.text }}</span>
                </td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="expert.exclude_from_forms" ng-change="expertChanged(expert)"> {{ 'exclude_expert_from_forms' | translate }}
                        </label>
                    </div>
                </td>
                <td>
                    
                </td>
            </tr>
            <tr ng-show="experts.registration_people.length == 0">
                <td colspan="3">{{ 'message_no_experts_found' | translate }}</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="3"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
    </table>
</div>
