<ol class="breadcrumb">
    <li><a ui-sref="events">Events</a></li>
    <li><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li><a ui-sref="admin_event.form_list({eventId: event.id})">Event Admin</a></li>
    <li class="active">Competitor Names</li>
</ol>

<h1>Competitor Names</h1>

<hr/>

<table class="table table-hover">
    <colgroup>
        <col width="20%" />
        <col width="40%" />
        <col width="20%" />
        <col width="20%" />
    </colgroup>
    <thead>
        <tr>
            <th>Member</th>
            <th>
                Name in People<br>
                Name in Skill Management
            </th>
            <th>Submitted</th>
            <th>
                Actions<br>
                <em>(Manually update names in CIS)</em>
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="7"></td>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="r in report.reports | filter:nameMismatch as filteredReports">
            <td>
                {{ r.member_name }}
            </td>
            <td>
                <a href="https://people.worldskills.org/people/{{r.person.id}}" target="_blank">{{ r.person.first_name }} {{ r.person.last_name }}</a>
                <br>
                <a ui-sref="admin_submission({eventId: event.id, formId: r.submission.form.id, id: r.submission.id})" target="_blank">{{ r.first_name }} {{ r.last_name }}</a>
            </td>
            <td>
                {{ r.submission.submitted|date:'d MMMM yyyy HH:mm' }}
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-xs" ng-click="overwritePeople(r)" ng-disabled="r.loading">Overwrite in People</button>
            </td>
        </tr>
        <tr ng-show="filteredReports.length == 0">
            <td colspan="7">No Competitors found</td>
        </tr>
        <tr ng-show="loading">
            <td colspan="7"><ws-spinner></ws-spinner></td>
        </tr>
    </tbody>
</table>
