<ol class="breadcrumb">
    <li><a ui-sref="admin">Admin</a></li>
    <li class="active">{{ event.name }}</li>
</ol>

<h1>{{ event.name }}</h1>

<ul class="nav nav-tabs">
    <li ui-sref-active="{active: 'admin_event.skills'}"><a ui-sref="admin_event.skills">Skills</a></li>
    <li ng-show="userCanEditCompetitionItems" ui-sref-active="{active: 'admin_event.items'}"><a ui-sref="admin_event.items({day: 'C1'})">Competition Items</a></li>
    <li ui-sref-active="{active: 'admin_event.form_list'}"><a ui-sref="admin_event.form_list">Forms</a></li>
    <li ui-sref-active="{active: 'admin_event.form_progress'}"><a ui-sref="admin_event.form_progress">Progress</a></li>
    <li ui-sref-active="{active: 'admin_event.rooms'}"><a ui-sref="admin_event.rooms">Rooms</a></li>
    <li ui-sref-active="{active: 'admin_event.lunch'}"><a ui-sref="admin_event.lunch">Lunch</a></li>
</ul>

<div id="content" ui-view>
</div>
