<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li><a ui-sref="admin_event.form_list({eventId: event.id})">{{ 'event_admin' | translate }}</a></li>
    <li><a ui-sref="admin_event.documents({eventId: event.id})">{{ 'documents' | translate }}</a></li>
    <li class="active">{{ title }}</li>
</ol>

<ws-alerts></ws-alerts>

<h1 class="align-top">{{ title }}</h1>

<ul class="nav nav-tabs">
    <li ui-sref-active="{active: 'admin_document.skills'}"><a ui-sref="admin_document.skills">Skills</a></li>
    <li ng-show="userCanManageDocument" ui-sref-active="{active: 'admin_document.search'}"><a ui-sref="admin_document.search">Search &amp; Replace</a></li>
    <li ng-show="userCanManageDocument" ui-sref-active="{active: 'admin_document.chapters'}"><a ui-sref="admin_document.chapters">Sections</a></li>
    <li ng-show="userCanManageDocument" ui-sref-active="{active: 'admin_document.name'}"><a ui-sref="admin_document.name">Settings</a></li>
</ul>

<div id="content" ui-view>
</div>
