<ol class="breadcrumb">
    <li><a ui-sref="events">Events</a></li>
    <li><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li><a ui-sref="admin_event.form_list({eventId: event.id})">Event Admin</a></li>
    <li><a ui-sref="admin_event.documents({eventId: event.id})">Documents</a></li>
    <li><a ui-sref="admin_document({eventId: event.id, documentId: document.id})">{{ title }}</a></li>
    <li class="active">Name and Introduction</li>
</ol>

<ws-alerts></ws-alerts>

<div class="row">
<div class="col-lg-8 col-lg-offset-2">

<h1>{{ title }}</h1>

<br>

<form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()">
    <div class="form-group" ng-class="{'has-error': submitted && form.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name <span class="required">*</span></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="name" name="name" required ng-model="document.name.text">
        </div>
        <div class="col-sm-4">
            <span class="help-block" ng-show="submitted" ng-messages="form.name.$error">
                <span ng-message="required">Please enter a name!</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="introduction" class="col-sm-2 control-label">Introduction</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="5" ng-model="document.introduction.text" name="introduction" ck-editor></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Save<ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
            <a ui-sref="admin_document({eventId: event.id, documentId: document.id})" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

</div>
</div>
