
<div class="text-right">
    <button class="btn btn-sm btn-default" ng-click="export()">Export all submissions (.xlsx)</a>
</div>

<div class="table-responsive">
    <table class="table table-striped resource_list">
        <colgroup>
            <col width="30%" />
            <col width="30%" ng-if="model.multiple_submissions" />
            <col width="70%" />
        </colgroup>
        <thead>
            <tr>
                <th>Submitted on</th>
                <th ng-show="model.multiple_submissions">Title</th>
                <th>Skill</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="submission in submissions.submissions">
                <td>
                    <a ui-sref="admin_submission({eventId: event.id, formId: id, id: submission.id})">{{ submission.submitted|date:'d MMMM yyyy HH:mm' }}</a>
                </td>
                <td ng-show="model.multiple_submissions">
                    <a ui-sref="admin_submission({eventId: event.id, formId: id, id: submission.id})">{{ submission.title }}</a>
                </td>
                <td>{{ submission.skill.number }} {{ submission.skill.name.text }}</td>
            </tr>
            <tr ng-show="!loading && submissions.submissions.length == 0">
                <td colspan="{{ model.multiple_submissions ? 3 : 2 }}">No submissions found</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="{{ model.multiple_submissions ? 3 : 2 }}"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{ model.multiple_submissions ? 3 : 2 }}"></td>
            </tr>
        </tfoot>
    </table>
</div>
