
<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="5%" />
            <col width="95%" />
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>Skill Admin</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="skill in skills.skills">
                <td>{{ skill.id }}</td>
                <td><a ui-sref="admin_skill.experts({eventId: skill.event.id, skillId: skill.id})">{{ skill.number }} {{ skill.name.text }}</a></td>
            </tr>
            <tr ng-show="skills.skills.length == 0">
                <td colspan="2">No skills found</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="2"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
    </table>
</div>
