<form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()">
    <div class="form-group" ng-class="{'has-error': submitted && form.name.$invalid}">
        <label for="name" class="col-sm-3 control-label">Name <span class="required">*</span></label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" ng-model="model.name.text" required>
        </div>
        <div class="col-sm-4">
            <span class="help-block" ng-show="submitted" ng-messages="form.name.$error">
                <span ng-message="required">Please enter a name!</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-5">
            <textarea class="form-control" rows="6" ng-model="model.description.text" name="description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="title_label" class="col-sm-3 control-label">Competition Day</label>
        <div class="col-sm-5">
            <select class="form-control input-sm" ng-options="day.id as day.timeline for day in competitionDays.days" ng-model="model.competition_day.id">
                <option></option>
            </select>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="view_submissions_experts" class="col-sm-3 control-label">Experts</label>
        <div class="col-sm-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="view_submissions_experts" ng-model="model.view_submissions_experts"> Experts can view all submissions of this form
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="multiple_submissions" class="col-sm-3 control-label">Multi</label>
        <div class="col-sm-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="multiple_submissions" ng-model="model.multiple_submissions"> Form can be submitted multiple times
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="model.multiple_submissions">
        <label for="title_label" class="col-sm-3 control-label">Title Label</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="title_label" ng-model="model.title_label.text">
        </div>
        <div class="col-sm-4">
            <span class="help-block text-muted">e.g. "Competitor Name" - can be empty</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Save<ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
            <a ui-sref="admin_event.form_list({eventId: event.id})" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
