
<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="10%" />
            <col width="90%" />
        </colgroup>
        <thead>
            <tr>
                <th>Day</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="form in forms.forms">
                <td>{{ form.timeline }}</td>
                <td><a ui-sref="admin_form_detail.submissions({eventId: event.id, id: form.id})">{{ form.name.text }}</a></td>
            </tr>
            <tr ng-show="forms.total_count == 0">
                <td colspan="2">No forms found</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="2"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
    </table>
</div>
