
<alerts></alerts>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="10%" />
            <col width="90%" />
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'id' | translate }}</th>
                <th>{{ 'title' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="document in documents.documents">
                <td>{{ document.id }}</td>
                <td><a ui-sref="admin_document.skills({eventId: event.id, documentId: document.id})">{{ document.name.text }}</a></td>
            </tr>
            <tr ng-show="documents.documents.length == 0">
                <td colspan="2">{{ 'message_no_documents_found' | translate }}</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="2"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
    </table>
</div>
