
<ws-alerts></ws-alerts>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="5%" />
            <col width="25%" />
            <col width="20%" />
            <col width="50%" />
        </colgroup>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Expert</th>
                <th>History</th>
                <th>Nominations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="expert in experts.registration_people">
                <td>
                    <img class="img-circle img-responsive" ng-show="expert.person.images[0]" ng-src="{{expert.person.images[0].thumbnail}}_square" width="60" height="60" ng-click="expert.history_override = 1">
                    <img class="img-circle img-responsive" ng-show="!expert.person.images[0]" src="https://people.worldskills.org/images/user.png" width="60" height="60" ng-click="expert.history_override = 1">
                </td>
                <td>
                    {{ expert.person.first_name }} {{ expert.person.last_name }}
                    <span class="text-muted"><br/>{{ expert.member.code }} - {{ expert.member.name.text }}</span>
                </td>
                <td>
                    <div class="checkbox">
                        <u class="text-success" ng-if="expert.history.length > 0" uib-popover-template="'views/admin_skill_expert_nominations_history.html'" popover-trigger="mouseenter">{{expert.history.length}} Expert position(s)</u>
                    </div>
                </td>
                <td>
                    <div class="checkbox" ng-if="expert.history_override || expert.nominated_smt || expert.history.length">
                        <label>
                            <input type="checkbox" ng-model="expert.nominated_smt" ng-change="expertChanged(expert)"> Nominated for Chief Expert
                        </label>
                    </div>
                </td>
            </tr>
            <tr ng-show="experts.registration_people.length == 0">
                <td colspan="4">No Experts found</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="4"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
    </table>
</div>

<!--
<div class="form-group form-group-sm">
    <div class="col-sm-offset-6 col-sm-6">
        <button ng-click="createPoll()" class="btn btn-sm btn-warning" ng-disabled="getNominatedTotal() == 0"><span class="glyphicon glyphicon-flash"></span> Create poll for Chief Expert election<ws-text-spinner ng-show="deleteLoading" class="ng-hide"></ws-text-spinner></button>
    </div>
</div>
-->
