<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li><a ui-sref="admin_event.form_list({eventId: event.id})">{{ 'event_admin' | translate }}</a></li>
    <li class="active">Competitor Date of Birth</li>
</ol>

<h1>Competitor Date of Birth</h1>

<hr/>

<table class="table table-hover">
    <colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="15%" />
        <col width="15%" />
        <col width="20%" />
        <col width="10%" />
    </colgroup>
    <thead>
        <tr>
            <th>Member</th>
            <th>Name in People</th>
            <th>Date of Birth in People</th>
            <th>in Skill Management</th>
            <th>Submitted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="6"></td>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="r in report.reports | filter:dateOfBirthMismatch as filteredReports">
            <td>
                {{ r.member_name }}
            </td>
            <td>
                <a href="https://people.worldskills.org/#/people/person/{{r.person.id}}" target="_blank">{{ r.person.first_name }} {{ r.person.last_name }}
            </td>
            <td>
                {{ r.person.date_of_birth | date:'dd.MM.yyyy' }}
            </td>
            <td>
                {{ r.date_of_birth | date:'dd.MM.yyyy' }}
            </td>
            <td>
                {{ r.submission.submitted|date:'d MMMM yyyy HH:mm' }}
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-xs" ng-click="overwritePeople(r)" ng-disabled="r.loading">Overwrite in People</button>
            </td>
        </tr>
        <tr ng-show="filteredReports.length == 0">
            <td colspan="6">No Competitors found</td>
        </tr>
        <tr ng-show="loading">
            <td colspan="6"><ws-spinner></ws-spinner></td>
        </tr>
    </tbody>
</table>
