<alerts></alerts>

<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <label for="searchQuery">{{ 'search_query' | translate }}</label>
      <input type="text" class="form-control" id="searchQuery" ng-model="query" ng-change="searchChanged()">
      <span class="help-block text-muted">{{ 'message_search_query_case_sensitive' | translate }}</span>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label for="replacement">{{ 'replacement' | translate }}</label>
      <input type="text" class="form-control" id="replacement" ng-model="replacement" >
      <span class="help-block text-muted" ng-show="sections">{{ 'message_found_x_sections' | translate:{count: sections.sections.length} }}</span>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label>&nbsp;</label>
      <button class="btn btn-primary btn-block" ng-click="replace()" ng-disabled="!query || !replacement">{{ 'replace_all' | translate }}</button>
    </div>
  </div>
</div>

<br>

<div class="table-responsive">
  <table class="table table-striped">
      <colgroup>
          <col width="20%" />
          <col width="30%" />
          <col width="50%" />
      </colgroup>
      <thead>
          <tr>
              <th>{{ 'skill' | translate }}</th>
              <th>{{ 'section' | translate }}</th>
              <th>{{ 'content' | translate }}</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="section in sections.sections">
              <td>{{ section.skill.number }} {{ section.skill.name.text }}</td>
              <td>{{ section.number }} {{ section.title.text }}</td>
              <td>
                  <div ng-bind-html="section.highlighted"></div>
              </td>
          </tr>
          <tr ng-show="!loading && (!sections || sections.sections.length == 0)">
              <td colspan="3">{{ 'message_no_sections_found' | translate }}</td>
          </tr>
          <tr ng-show="loading">
              <td colspan="3"><ws-spinner></ws-spinner></td>
          </tr>
      </tbody>
  </table>
</div>
