<ol class="breadcrumb">
    <li><a ui-sref="admin_form.list">Admin</a></li>
    <li class="active">Forms</li>
</ol>

<alerts></alerts>

<p class="pull-right">
    <a ui-sref="admin_form_progress" class="btn btn-default">Check progress</a>
</p>

<h1>Forms</h1>

<hr/>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="10%" />
            <col width="10%" />
            <col width="80%" />
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>Day</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="form in forms.forms">
                <td><a ui-sref="admin_form.detail.submissions({id: form.id})">{{ form.id }}</a></td>
                <td>{{ form.timeline }}</td>
                <td><a ui-sref="admin_form.detail.submissions({id: form.id})">{{ form.name.text }}</a></td>
            </tr>
            <tr ng-show="forms.total_count == 0">
                <td colspan="3">No forms found</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="3"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>

<uib-pagination items-per-page="pagination.itemsPerPage" total-items="forms.total_count || pagination.currentPage * pagination.itemsPerPage" ng-model="pagination.currentPage" ng-change="changePage()" max-size="10" boundary-links="true" rotate="false"></uib-pagination>
