<ol class="breadcrumb">
    <li><a ui-sref="binder_form_list" translate>BinderFormListHeading</a></li>
    <li class="active">{{binderForm.name.text}}</li>
</ol>

<div class="row">
<div class="col-sm-8 col-sm-offset-2">

<div class="page-header">
<h1>{{binderForm.name.text}}</h1>
</div>

<alerts></alerts>

<form name="form" role="form" class="{{binderForm.horizontal == true ? 'form-horizontal' : ''}}">
    <div ng-repeat="question in binderForm.questions">
	<div class="form-group" ng-show="!binderForm.horizontal">
        <p ng-if="question.type == 'TEXT'">{{question.question_text.text}}</p>
        <h5 ng-if="question.type == 'EXPERT_APPROVAL' || question.type == 'CE_APPROVAL'">{{question.question_text.text}}</h5>
    	<label ng-if="question.type == 'TEXT_FIELD' || question.type == 'TEXTAREA' || question.type == 'RADIO'" for="name">{{question.question_text.text}}</label>
    	
    	<wsi-textarea question="question" ng-show="question.type == 'TEXTAREA'"></wsi-textarea>
		<wsi-textfield question="question" ng-show="question.type == 'TEXT_FIELD'"></wsi-textfield>
		<wsi-radio question="question" ng-show="question.type == 'RADIO'"></wsi-radio>
		<wsi-expert-signoff experts="experts" ce="ce" jp="jp" ng-show="question.type == 'EXPERT_APPROVAL'"></wsi-expert-signoff>
        <div class="row" ng-show="question.type == 'CE_APPROVAL'">
            <div class="col-sm-6">
                <wsi-expert-pin expert="ce" position="'Chief Expert'" ng-show="question.type == 'CE_APPROVAL'"></wsi-expert-pin>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr/>
    </div>
    
    <br/><br/><br/>
</form>

</div>
</div>
