<form class="form" name="form" novalidate focus-error ng-submit="approve()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
        <h2 class="modal-title">{{ section.number }} {{ section.title.text }}</h2>
    </div>
    <div class="modal-body">
        <div class="worldskills-document-text">
            <table cellspacing="0" class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2"><p><strong>{{ 'section' | translate }}</strong></p></th>
                        <th><p><strong>{{ 'relative_importance_percentage' | translate }}</strong></p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="green-background">
                        <td><p><strong>{{wsosSection.number}}</strong></p></td>
                        <td>
                            <div class="worldskills-document-text worldskills-document-diff" ng-bind-html="diffTitle"></div>
                        </td>
                        <td>
                            <div class="worldskills-document-text worldskills-document-diff" ng-bind-html="diffImportance"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <div class="worldskills-document-text worldskills-document-diff" ng-bind-html="diffKnowledge"></div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <div class="worldskills-document-text worldskills-document-diff" ng-bind-html="diffAbility"></div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button type="submit" class="btn btn-success" ng-show="userCanApproveDocument">{{ 'approve' | translate }}<ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
        <div class="pull-left">
          <button type="button" class="btn btn-primary" ng-click="edit()">{{ 'edit' | translate }}</button>
        </div>
    </div>
</form>
