<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: skill.event.id})">{{ skill.event.name }}</a></li>
    <li><a ui-sref="skill({eventId: skill.event.id, skillId: skill.id})">{{ skill.number }} {{ skill.name.text }}</a></li>
    <li><a ui-sref="document({eventId: skill.event.id, documentId: document.id, skillId: skill.id})">{{ document.name.text }}</a></li>
    <li class="active">{{ chapter.number }} {{ chapter.title.text }}</li>
</ol>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

        <alerts></alerts>

        <p class="text-muted">
            {{ document.name.text }}
            <br/>
            {{ skill.number }} {{ skill.name.text || "&nbsp;" }}
        </p>

        <div ng-if="skill.id == 1719 || skill.id == 1835">
            <div class="alert alert-warning" role="alert">{{ 'message_td_not_verified' | translate }}</div>
            <div style="position: fixed; display: flex; top: 0; left: 0; right: 0; bottom: 0; justify-content: center; align-items: center; z-index: -1;">
                <div style="transform: rotate(300deg); width: 50%; text-align: center; color: #eee; font-size: 4.5em;">{{ 'message_td_not_verified' | translate }}</div>
            </div>
        </div>

        <h2>{{ chapter.number }} {{ chapter.title.text }}</h2>

        <div ng-repeat="(index, section) in chapter.sections" id="section{{section.id}}">
            <h3>{{ section.number }} {{ section.title.text }}</h3>
            <div class="worldskills-document-text">
                <div ng-bind-html="section.introduction.text"></div>
            </div>
            <div ng-show="section.skill_editable">
                <div ng-show="!userCanEditSkillDocument">
                    <div class="worldskills-document-edited-text">
                        <div ng-bind-html="section.text.text"></div>
                    </div>
                </div>
                <div ng-show="userCanEditSkillDocument">
                    <div class="worldskills-document-edited-text">
                        <div ng-bind-html="section.latest_revision.text"></div>
                    </div>
                    <div>
                        <button class="btn btn-xs btn-primary" ng-click="editSection(section, index)">{{ 'edit' | translate }}</button>
                        <small class="text-muted" ng-show="section.latest_revision && section.latest_revision.id != section.approved_revision_id">
                            <a href ng-click="diffRevision(section, index)">{{ 'pending_changes_by' | translate }} {{ section.latest_revision.author.first_name }} {{ section.latest_revision.author.last_name }}</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="worldskills-document-edited-text" ng-if="section.wsos">
                <table cellspacing="0" class="table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2"><p><strong>{{ 'section' | translate }}</strong></p></th>
                            <th><p><strong>{{ 'relative_importance_percentage' | translate }}</strong></p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="green-background" ng-repeat-start="(wsosIndex, wsosSection) in section.wsosSections">
                            <td><p><strong>{{wsosSection.number}}</strong></p></td>
                            <td>
                                <p ng-show="!userCanEditSkillDocument"><strong>{{wsosSection.title}}</strong></p>
                                <p ng-show="userCanEditSkillDocument"><strong>{{wsosSection.latest_revision.title}}</strong></p>
                                <div ng-show="userCanEditSkillDocument">
                                    <button class="btn btn-xs btn-primary" ng-click="editWsosSection(wsosSection, index, wsosIndex)">{{ 'edit' | translate }}</button>
                                    <small class="text-muted" ng-show="wsosSection.latest_revision && wsosSection.latest_revision.id != wsosSection.approved_revision_id">
                                        <a href ng-click="diffWsosRevision(section, wsosSection, index, wsosIndex)">{{ 'pending_changes_by' | translate }} {{ wsosSection.latest_revision.author.first_name }} {{ wsosSection.latest_revision.author.last_name }}</a>
                                    </small>
                                </div>
                            </td>
                            <td>
                                <p ng-show="!userCanEditSkillDocument"><strong>{{wsosSection.importance}}</strong></p>
                                <p ng-show="userCanEditSkillDocument"><strong>{{wsosSection.latest_revision.importance}}</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <div ng-show="!userCanEditSkillDocument">
                                    <div ng-bind-html="wsosSection.knowledge"></div>
                                </div>
                                <div ng-show="userCanEditSkillDocument">
                                    <div ng-bind-html="wsosSection.latest_revision.knowledge"></div>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr ng-repeat-end>
                            <td>&nbsp;</td>
                            <td>
                                <div ng-show="!userCanEditSkillDocument">
                                    <div ng-bind-html="wsosSection.ability"></div>
                                </div>
                                <div ng-show="userCanEditSkillDocument">
                                    <div ng-bind-html="wsosSection.latest_revision.ability"></div>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <strong>{{ 'total' | translate }}</strong>
                            </td>
                            <td><p><strong>{{section.totalImportance}}</strong></p></td>
                        </tr>
                    </tfoot>
                </table>
                <div ng-if="userCanAddSkillDocumentWSOS">
                    <button class="btn btn-xs btn-success" ng-click="addWsosSection(index)">{{ 'add_wsos_section' | translate }}</button>
                </div>
            </div>
        </div>

        <br/><br/>

        <div class="row">
            <div class="col-md-6">
                <div ng-show="previousChapter">
                    <h5>{{ 'previous' | translate }}</h5>
                    <p><a ui-sref="document_chapter({eventId: skill.event.id, documentId: document.id, skillId: skill.id, chapterId: previousChapter.id})"><span class="glyphicon glyphicon-chevron-left"></span> {{ previousChapter.title.text }}</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right" ng-show="nextChapter">
                    <h5 class="text-right">{{ 'next' | translate }}</h5>
                    <p><a ui-sref="document_chapter({eventId: skill.event.id, documentId: document.id, skillId: skill.id, chapterId: nextChapter.id})">{{ nextChapter.title.text }} <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
        </div>

        <br><br>

        <p class="text-muted">{{ 'last_updated' | translate }}: {{document.last_updated|date:'dd.MM.yyyy HH:mm'}} - <a ui-sref="document_revisions({eventId: skill.event.id, documentId: document.id, skillId: skill.id})">{{ 'change_log' | translate }}</a></p>

    </div>
</div>
