<ol class="breadcrumb">
    <li class="active">{{ 'events' | translate }}</li>
</ol>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="5%" />
            <col width="40%" />
            <col width="25%" />
            <col width="30%" />
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'id' | translate }}</th>
                <th>{{ 'event' | translate }}</th>
                <th>{{ 'start_date' | translate }}</th>
                <th>{{ 'entity' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in events.events">
                <td>{{ event.id }}</td>
                <td><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></td>
                <td>{{ event.start_date | date:'d MMMM yyyy' }}</td>
                <td>{{ event.highest_parent_entity.name.text }}</td>
            </tr>
            <tr ng-show="events.events.length == 0">
                <td colspan="4">{{ 'message_no_events_found' | translate }}</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="4"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
    </table>
</div>
