
<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
        </colgroup>
        <thead>
            <tr>
                <th>Skills</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="skill in skills.skills">
                <td><a ui-sref="skill({eventId: skill.event.id, skillId: skill.id})">{{ skill.number }} {{ skill.name.text }}</a></td>
            </tr>
            <tr ng-show="skills.skills.length == 0">
                <td colspan="1">No skills found</td>
            </tr>
            <tr ng-show="loading">
                <td colspan="1"><ws-spinner></ws-spinner></td>
            </tr>
        </tbody>
    </table>
</div>
