
<div class="row">
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-striped">
                <colgroup>
                    <col width="10%" />
                    <col width="90%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Skill</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="skill in skills.skills">
                        <td>{{ skill.number }}</td>
                        <td><a ui-sref="skill({eventId: skill.event.id, skillId: skill.id})">{{ skill.name.text }}</a></td>
                    </tr>
                    <tr ng-show="skills.skills.length == 0">
                        <td colspan="2">No skills found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default" ng-show="userCanViewDocument && documents.documents.length">
          <div class="panel-heading">Documents</div>
          <div class="panel-body">
          <p ng-repeat="document in documents.documents"><a ui-sref="event_document({eventId: event.id, documentId: document.id})"><span class="glyphicon glyphicon-book"></span> {{document.name.text}}</a></p>
          </div>
      </div>
      <div class="panel panel-default" ng-show="userCanViewManagementPlan">
        <div class="panel-heading">Reports</div>
        <div class="panel-body">
            <p>
                <a ui-sref="report_competitor_finish_times({eventId: event.id})"><span class="glyphicon glyphicon-th-list"></span> Competitor Finish Times</a>
            </p>
        </div>
      </div>
      <div class="panel panel-default" ng-show="resources.resources.length">
        <div class="panel-heading">Resources</div>
        <div class="panel-body">
          <p ng-repeat="resource in resources.resources">
              <a href="{{ resource.link }}" target="_blank" rel="noopener">
                  <span class="glyphicon glyphicon-link" ng-if="resource.storage_type == 'REDIRECT_LINK'"></span>
                  <span class="glyphicon glyphicon-file" ng-if="resource.storage_type != 'REDIRECT_LINK'"></span>
                  {{ resource.title }}
              </a>
          </p>
        </div>
      </div>
    </div>
</div>
