<ol class="breadcrumb">
    <li><a ui-sref="events">Events</a></li>
    <li><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li class="active">{{ document.name.text }}</li>
</ol>

<div>
    <span class="text-muted">{{ event.name || "&nbsp;" }}</span>
</div>

<h1 class="align-top">{{ document.name.text }}</h1>

<div class="row">
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-striped">
                <colgroup>
                    <col width="10%" />
                    <col width="60%" />
                    <col width="30%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Skill</th>
                        <th>Last updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="documentSkill in documentSkills.documents">
                        <td>{{ documentSkill.skill.number }}</td>
                        <td><a ui-sref="document({eventId: event.id, documentId: document.id, skillId: documentSkill.skill.id})">{{ documentSkill.skill.name.text }}</a></td>
                        <td>{{ documentSkill.last_updated | date: 'dd.MM.yyyy HH:mm' }} <span class="label label-success" ng-show="isNew(documentSkill.last_updated)">New</span></td>
                    </tr>
                    <tr ng-show="documentSkills.documents.length == 0">
                        <td colspan="3">No skills found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
