<ol class="breadcrumb">
    <li><a ui-sref="events">Events</a></li>
    <li class="active">{{ event.name }}</li>
</ol>

<div class="pull-right">
    <div class="btn-group" uib-dropdown ng-show="userCanViewAllSubmissions || userCanEditForms">
        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">Tools <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li><a ui-sref="report_progress_items({eventId: event.id})">Prep. Progress Report</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="admin_event.form_list({eventId: event.id})">Event Admin</a></li>
        </ul>
    </div>
</div>

<h1>{{ event.name }}</h1>

<p class="lead">{{ event.start_date | date:'d MMMM yyyy' }} - {{ event.end_date | date:'d MMMM yyyy' }}</p>

<div id="content" ui-view>
</div>
