<div class="row">
<div class="col-lg-8 col-lg-offset-2">
  
<p class="pull-right" ng-show="submission.form.multiple_submissions">
    <a class="btn btn-default btn-sm" ui-sref="form_submissions_skill({formId: submission.form.id, skillId: submission.skill.id})" target="_blank">Submissions</a>
</p>

<h1 class="align-top">
    <small>{{ submission.skill.event.name || "&nbsp;" }}</small>
    <br/>
    {{ submission.skill.number }} {{ submission.skill.name.text || "&nbsp;" }}
</h1>

<hr/>

<p class="pull-right text-muted">
    <span ng-show="saving">Saving...</span>
    <span ng-show="!saving && saved">Draft saved</span>
</p>
<h2>{{ submission.form.name.text }} <small>{{ submission.form.competition_day.timeline }}</small></h2>

<alerts></alerts>

<div ng-show="loading">
    <ws-spinner></ws-spinner>
</div>

<div class="alert alert-danger" ng-show="submitted && form.$invalid">
    Some values are missing or wrong. Please check the form and try to submit again.
</div>

<p ng-if="submission.fields.length == 0">No fields need to be filled out.</p>

<div ng-show="submission.form.description.text">
    <p>{{ submission.form.description.text }}</p>
</div>

<br/>

<form name="form" role="form" novalidate ng-submit="submit()">
    <div ng-repeat="field in submission.fields">
        <div class="form-group">
            <h4>{{ field.title.text }}</h4>
            <p ng-show="field.type != 'input_checkbox' && field.type != 'link'">{{ field.text.text }}</p>

            <p ng-show="field.type == 'link'"><a href="{{ field.text.text }}">Download</a></p>

            <input ng-if="field.type == 'input_text'" type="text" class="form-control" ng-model="field.value" ng-change="fieldChanged(field)" />

            <textarea ng-if="field.type == 'input_textarea'" class="form-control" rows="3" ng-model="field.value" ng-change="fieldChanged(field)"></textarea>

            <div ng-if="field.type == 'input_yesno'">
                <label class="radio-inline">
                    <input type="radio" ng-model="field.checked" ng-change="fieldChecked(field)" ng-value="true" >
                    Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="field.checked" ng-change="fieldChecked(field)" ng-value="false" >
                    No
                </label>
            </div>

            <div ng-if="field.type == 'input_checkbox'" class="checkbox">
                <label>
                    <input type="checkbox" ng-model="field.checked" ng-change="fieldChecked(field)" value="true" >
                    <span style="white-space: pre-line;">{{ field.text.text }}</span>
                </label>
            </div>

            <div ng-if="field.type == 'input_file'">
                <p>
                    <button type="button" class="btn btn-default" ngf-select="fieldUploadFiles(field, $files, $invalidFiles)" multiple>Upload file(s)</button>
                </p>
                <div class="panel panel-default">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="file in field.files">
                                <td><a href="{{file.download}}">{{file.filename}}</a></td>
                                <td class="text-right"><button type="button" class="btn btn-danger btn-xs" ng-click="deleteFieldFile(field, file)">Delete file</button></td>
                            </tr>
                            <tr ng-repeat="file in field.uploading | filter:{progress: '!100'}">
                                <td>{{file.name}} {{file.$errorParam}}</td>
                                <td class="text-right">{{file.progress}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-if="field.type == 'expert_agreement' || field.type == 'competitor_agreement'" class="row">
                <span ng-repeat="person in field.people">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body" ng-class="{'bg-success': person.checked}">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p>
                                            <img class="img-circle" ng-show="person.person.images[0]" class="img-responsive" ng-src="{{person.person.images[0].thumbnail}}_square" width="60" height="60">
                                            <img class="img-circle" ng-show="!person.person.images[0]" class="img-responsive" src="https://people.worldskills.org/images/user.png" width="60" height="60">
                                        </p>
                                    </div>
                                    <div class="col-xs-9">
                                        <p>
                                            <strong>{{ person.person.first_name }} {{ person.person.last_name }}</strong>
                                            <span ng-show="person.member" class="text-muted"><br/>{{ person.member.name.text }}</span>
                                        </p>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <input type="password" inputmode="numeric" autocomplete="off" class="form-control" name="pin" ng-model="person.pin" ng-change="pinChanged(field, person)" placeholder="PIN" ng-if="!person.checked || person.pin" ng-disabled="person.checked || person.pin.length == 4" />
                                                <input type="password" inputmode="numeric" autocomplete="off" class="form-control" value="0000" disabled="disabled" ng-if="person.checked && !person.pin" />
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="form-control-static">
                                                    <i class="glyphicon glyphicon-hourglass text-muted" ng-show="!person.checked && person.pin.length == 4"></i>
                                                    <i class="glyphicon glyphicon-ok text-success" ng-show="person.checked"></i>
                                                    <i class="glyphicon glyphicon-remove text-danger" ng-show="!person.checked && (!person.pin || person.pin.length < 4)"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="$index % 2 == 1" class="clearfix"></div>
                </span>
            </div>

            <div ng-if="field.type == 'smt_agreement' || field.type == 'ce_agreement' || field.type == 'ce_ccd_agreement' || field.type == 'ccd_agreement'" class="row">
                <span ng-repeat="person in field.people" ng-form="formFieldPerson">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body" ng-class="{'bg-success': person.checked, 'bg-danger': submitted && formFieldPerson.pin.$invalid}">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p>
                                            <img class="img-circle" ng-show="person.person.images[0]" class="img-responsive" ng-src="{{person.person.images[0].thumbnail}}_square" width="60" height="60">
                                            <img class="img-circle" ng-show="!person.person.images[0]" class="img-responsive" src="https://people.worldskills.org/images/user.png" width="60" height="60">
                                        </p>
                                    </div>
                                    <div class="col-xs-9">
                                        <p>
                                            <span ng-show="person.position">{{ person.position.name.text }}<br/></span>
                                            <strong>{{ person.person.first_name }} {{ person.person.last_name}}</strong>
                                            <span ng-style="{'visibility': person.member && person.position.shortName != 'scm' ? 'visible' : 'hidden'}" class="text-muted"><br/>{{ person.member.name.text }}</span>
                                        </p>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <input type="password" inputmode="numeric" autocomplete="off" class="form-control" name="pin" ng-model="person.pin" ng-change="pinChanged(field, person)" placeholder="PIN" ng-if="!person.checked || person.pin" ng-disabled="person.checked || person.pin.length == 4" required />
                                                <input type="password" inputmode="numeric" autocomplete="off" class="form-control" value="0000" disabled="disabled" ng-if="person.checked && !person.pin" />
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="form-control-static">
                                                    <i class="glyphicon glyphicon-hourglass text-muted" ng-show="!person.checked && person.pin.length == 4"></i>
                                                    <i class="glyphicon glyphicon-ok text-success" ng-show="person.checked"></i>
                                                    <i class="glyphicon glyphicon-remove text-danger" ng-show="!person.checked && (!person.pin || person.pin.length < 4)"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="$index % 2 == 1" class="clearfix"></div>
                </span>
            </div>

            <div ng-if="field.type == 'competitor_toolbox'">
                <div ng-repeat="person in field.people">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="checkbox">
                                <strong>{{ person.person.first_name }} {{ person.person.last_name}}</strong>
                                <span ng-show="person.member" class="text-muted"><br/>{{ person.member.name.text }}</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="person.checked" ng-change="personChecked(field, person)" value="true">
                                    Toolbox checked
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <textarea class="form-control" rows="2" ng-model="person.value" ng-change="fieldPersonChanged(field, person)" placeholder="Notes"></textarea>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>

            <div ng-if="field.type == 'competitor_check'">
                <div ng-repeat="person in field.people" ng-form="formFieldPerson">
                    <hr/>
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="competitiorFirstName{{ person.person.id }}">First name for certificate:</label>
                                        <input type="text" id="competitiorFirstName{{ person.person.id }}" class="form-control" ng-model="person.first_name" ng-change="fieldPersonChanged(field, person)" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="competitiorLastName{{ person.person.id }}">Last name:</label>
                                        <input type="text" id="competitiorLastName{{ person.person.id }}" class="form-control" ng-model="person.last_name" ng-change="fieldPersonChanged(field, person)" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="competitiorNameOfficial{{ person.person.id }}">Name on passport or identity card:</label>
                                <input type="text" id="competitiorNameOfficial{{ person.person.id }}" class="form-control" ng-model="person.name_official" ng-change="fieldPersonChanged(field, person)" />
                            </div>
                            <div class="form-group">
                                <label for="competitiorPassport{{ person.person.id }}">Passport or identity card number:</label>
                                <input type="text" id="competitiorPassport{{ person.person.id }}" class="form-control" ng-model="person.passport" ng-change="fieldPersonChanged(field, person)" />
                            </div>
                            <div class="form-group">
                                <label for="competitiorDateOfBirth{{ person.person.id }}">Date of birth (YYYY-MM-DD):</label>
                                <input type="text" id="competitiorDateOfBirth{{ person.person.id }}" class="form-control" ng-model="person.date_of_birth" ng-change="fieldPersonChanged(field, person)" placeholder="YYYY-MM-DD" />
                            </div>
                            <div class="form-group">
                                <label for="competitiorLanguageTestProject{{ person.person.id }}">Language for Test Project:</label>
                                <input type="text" id="competitiorLanguageTestProject{{ person.person.id }}" class="form-control" ng-model="person.language_test_project" ng-change="fieldPersonChanged(field, person)" placeholder="e.g. EN" />
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="panel panel-default">
                                <div class="panel-body" ng-class="{'bg-success': person.checked, 'bg-danger': submitted && formFieldPerson.pin.$invalid}">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <p>
                                                <img class="img-circle" ng-show="person.person.images[0]" class="img-responsive" ng-src="{{person.person.images[0].thumbnail}}_square" width="60" height="60">
                                                <img class="img-circle" ng-show="!person.person.images[0]" class="img-responsive" src="https://people.worldskills.org/images/user.png" width="60" height="60">
                                            </p>
                                        </div>
                                        <div class="col-xs-8">
                                            <p>
                                                <strong>{{ person.person.first_name }} {{ person.person.last_name}}</strong>
                                                <span ng-show="person.member" class="text-muted"><br/>{{ person.member.name.text }}</span>
                                            </p>
                                            <div class="row">
                                                <div class="col-xs-5">
                                                    <input type="password" inputmode="numeric" autocomplete="off" class="form-control" name="pin" ng-model="person.pin" ng-change="pinChanged(field, person)" placeholder="PIN" ng-if="!person.checked || person.pin" ng-disabled="person.checked || person.pin.length == 4" required />
                                                    <input type="password" inputmode="numeric" autocomplete="off" class="form-control" value="0000" disabled="disabled" ng-if="person.checked && !person.pin" />
                                                </div>
                                                <div class="col-xs-7">
                                                    <div class="form-control-static">
                                                        <i class="glyphicon glyphicon-hourglass text-muted" ng-show="!person.checked && person.pin.length == 4"></i>
                                                        <i class="glyphicon glyphicon-ok text-success" ng-show="person.checked"></i>
                                                        <i class="glyphicon glyphicon-remove text-danger" ng-show="!person.checked && (!person.pin || person.pin.length < 4)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>

    <div>
        <br/>
        <button class="btn btn-primary" type="submit">Submit Form<ws-text-spinner ng-show="submitting" class="ng-hide"></ws-text-spinner></button>
        <a class="btn btn-link pull-right" ui-sref="form_submission_list({eventId: submission.skill.event.id, skillId: submission.skill.id})">« Return to Forms</a>
    </div>


    <br/><br/><br/>
</form>

</div>
</div>
