<ol class="breadcrumb">
    <li><a ui-sref="form_submission_list">Skill Management</a></li>
    <li><a ui-sref="form_submission_list" translate>BinderFormListHeading</a></li>
    <li class="active">{{ submission.form.name.text }}</li>
</ol>

<div class="row">
<div class="col-lg-8 col-lg-offset-2">

<div class="page-header">
<p>{{ submission.skill.number }} {{ submission.skill.name.text }}</p>
<h1>{{ submission.form.name.text }}</h1>
</div>

<alerts></alerts>

<form name="form" role="form" ng-submit="submit()">
    <div ng-repeat="field in submission.fields">
        <div class="form-group">
            <h4>{{ field.title.text }}</h4>
            <p>{{ field.text.text }}</p>

            <input ng-show="field.type == 'input_text'" type="text" class="form-control" ng-model="field.value" ng-change="fieldChanged(field)" />

            <textarea ng-show="field.type == 'input_textarea'" class="form-control" rows="3" ng-model="field.value" ng-change="fieldChanged(field)"></textarea>

            <div ng-show="field.type == 'input_yesno'">
                <label class="radio-inline">
                    <input type="radio" ng-model="field.checked" ng-change="fieldChanged(field)" ng-value="true" >
                    Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="field.checked" ng-change="fieldChanged(field)" ng-value="false" >
                    No
                </label>
            </div>

            <div ng-show="question.type == 'input_checkbox'" class="radio" ng-repeat="option in question.options">
                <label>
                    <input type="radio" ng-model="question.answer" name="{{question.id}}" required="true" value="{{option.value}}" >
                    {{option.text}}
                </label>
            </div>

            <div ng-show="field.type == 'expert_agreement'" class="row">
                <span ng-repeat="expert in field.people">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p>
                                            <img class="img-circle" ng-show="expert.person.images[0]" class="img-responsive" ng-src="{{expert.person.images[0].links[1].href}}_square" width="60" height="60">
                                            <img class="img-circle" ng-show="!expert.person.images[0]" class="img-responsive" src="https://people.worldskills.org/images/user.png" width="60" height="60">
                                        </p>
                                    </div>
                                    <div class="col-xs-8">
                                        <p>
                                            <span ng-show="position">{{position}}<br/></span>
                                            <strong>{{ expert.person.first_name }} {{ expert.person.last_name}}</strong> {{ expert.country.member.code }} <br />
                                        </p>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <input type="password" inputmode="numeric" pattern="[0-9]*" class="form-control" ng-model="expert.pin" ng-change="pinChanged(field, expert)" maxlength="4" placeholder="PIN" ng-show="!expert.checked" />
                                                <input type="password" class="form-control" value="0000" disabled="disabled" ng-show="expert.checked" />
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="form-control-static">
                                                    <i class="glyphicon glyphicon-ok text-success" ng-show="expert.checked"></i>
                                                    <i class="glyphicon glyphicon-remove text-danger" ng-show="!expert.checked"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="$index % 2 == 1" class="clearfix"></div>
                </span>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>

    <div>
        <br/>
        <button class="btn btn-primary" type="submit">Submit Form</button>
        <a class="btn btn-link pull-right" ui-sref="form_submission_list">« Return to form list</button>
    </div>


    <br/><br/><br/>
</form>

</div>
</div>
