<ol class="breadcrumb">
    <li><a ui-sref="binder_form_list">Skill Management</a></li>
    <li><a ui-sref="binder_form_list" translate>BinderFormListHeading</a></li>
    <li class="active">{{ submission.form.name.text }}</li>
</ol>

<div class="row">
<div class="col-lg-8 col-lg-offset-2">

<div class="page-header">
<p>{{ submission.skill.number }} {{ submission.skill.name.text }}</p>
<h1>{{ submission.form.name.text }}</h1>
</div>

<alerts></alerts>

<form name="form" role="form" ng-submit="submit()">
    <div ng-repeat="field in submission.fields">
        <div class="form-group">
            <h4>{{ field.title.text }}</h4>
            <p>{{ field.text.text }}</p>

            <wsi-textarea question="question" ng-show="question.type == 'input_textarea'"></wsi-textarea>
            <wsi-textfield question="question" ng-show="field.type == 'input_text'"></wsi-textfield>
            <wsi-radio question="question" ng-show="question.type == 'input_yesno'"></wsi-radio>
            <wsi-expert-signoff experts="field.people" ng-show="field.type == 'expert_agreement'"></wsi-expert-signoff>
        </div>
        <div class="clearfix"></div>
    </div>

    <div>
        <br/>
        <button class="btn btn-primary" type="submit">Submit Form</button>
        <button class="btn btn-link pull-right" type="submit">« Return to form list</button>
    </div>


    <br/><br/><br/>
</form>

</div>
</div>
