<ol class="breadcrumb">
    <li><a ui-sref="form_submission_list">Skill Management</a></li>
    <li class="active" translate>Forms</li>
</ol>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

        <alerts></alerts>

        <h1>Forms</h1>

        <tabset>
            <tab ng-repeat="skill in skills.skills" heading="{{ skill.name.text }}">

                <div class="table-responsive">
                    <table class="table table-striped resource_list">
                        <colgroup>
                            <col width="10%" />
                            <col width="80%" />
                            <col width="10%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Competition Form</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="form in forms[skill.id].forms">
                                <td>{{ form.timeline }}</td>
                                <td>
                                    <a ui-sref="form_submission({formId: form.id, skillId: skill.id})" ng-if="!form.has_submitted_submission && form.digital">{{ form.name.text }}</a>
                                    <span ng-if="form.has_submitted_submission || !form.digital">{{ form.name.text }} <span ng-show="!form.digital">(see binder in workshop)</span></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok text-success" ng-show="form.has_submitted_submission"></span>
                                </td>
                            </tr>
                            <tr ng-show="forms.total_count == 0">
                                <td colspan="3">No forms found</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </tab>
        </tabset>

        <div ng-show="loading">
            <ws-spinner></ws-spinner>
        </div>

        <div ng-show="!loading && !(skills.skills.length > 0)">
            <p>No forms available. Please note that only the Chief Expert can submit forms.</p>
        </div>

    </div>
</div>
