<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: skill.event.id})">{{ skill.event.name }}</a></li>
    <li><a ui-sref="skill({eventId: skill.event.id, skillId: skill.id})">{{ skill.number }} {{ skill.name.text }}</a></li>
    <li class="active">Form Submissions</li>
</ol>


<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

        <alerts></alerts>

        <p class="text-muted">
            {{ skill.event.name || "&nbsp;" }}
            <br/>
            {{ skill.number }} {{ skill.name.text || "&nbsp;" }}
        </p>

        <h1 class="align-top">Form Submissions</h1>

        <hr/>

        <div class="table-responsive">
            <table class="table table-striped resource_list">
                <thead>
                    <tr>
                        <th>Competition Form</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="form in forms.forms | filter:{view_submissions_experts: true}:true as filteredForms">
                        <td>
                            <a ui-sref="form_submissions_experts_form({eventId: skill.event.id, skillId: skill.id, formId: form.id})">{{ form.name.text }}</a>
                        </td>
                    </tr>
                    <tr ng-show="filteredForms.length == 0">
                        <td>No forms found</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
