<ol class="breadcrumb">
    <li><a ui-sref="binder_form_list">Skill Management</a></li>
    <li class="active" translate>BinderFormListHeading</li>
</ol>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

        <h1>Forms</h1>

        <alerts></alerts>

        <br/>

        <tabset>
            <tab ng-repeat="skill in skills.skills" heading="{{ skill.name.text }}">

        <br/>

		<div class="table-responsive">
			<table class="table table-striped resource_list">
				<colgroup>
					<col width="20%" />
					<col width="60%" />
                    <col width="20%" />
				</colgroup>
				<thead>
					<tr>
						<th><span translate>Day</span></th>
						<th><span translate>Form</span></th>
                        <th>State</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="binderForm in formList">
						<td>{{binderForm.day}}</td>
						<td><a ui-sref="binder_form({id: binderForm.id})" >{{binderForm.name}}</a></td>
                        <td>
                            <span class="glyphicon glyphicon-ok text-success" ng-show="binderForm.state == 'submitted'"></span>
                        </td>
					</tr>
					<tr ng-show="formList.total_count == 0">
						<td colspan="3"><span translate>NoForms</span></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3"></td>
					</tr>
				</tfoot>
			</table>
		</div>

            </tab>
        </tabset>

	</div>
</div>
