<div class="modal-header">
    <button type="button" class="close" ng-click="cancelSkillsModal()"><span>&times;</span></button>
    <h2 class="modal-title">{{ 'skills' | translate }}</h2>
</div>
<div class="modal-body">
    <div class="btn-group-vertical center-block">
        <a ng-repeat="skill in skills.skills" ui-sref="form_submission_list({eventId: skill.event.id, skillId: skill.id})" class="btn btn-default">
            <span class="text-muted">{{ skill.event.name }}</span>
            <br/>
            {{ skill.number }} {{ skill.name.text }}
        </a>
    </div>
</div>
