<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: event.id})">{{ event.name }}</a></li>
    <li class="active">{{ 'skill_highlights_report' | translate }}</li>
</ol>

<h1 class="align-top">
    <small>{{ event.name || "&nbsp;" }}</small>
    <br/>
    {{ 'skill_highlights_report' | translate }}
</h1>

<hr>

<div ng-repeat="skill in skills.skills" ng-hide="loading">
    <div class="panel panel-default" ng-if="skill.items.length > 0">
        <div class="panel-heading">
            <h2 class="panel-title">{{skill.number}} {{skill.name.text}}</h2>
        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-striped">
                    <colgroup>
                        <col width="15%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="65%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>{{ 'date' | translate }}</th>
                            <th>{{ 'day' | translate }}</th>
                            <th>{{ 'time' | translate }}</th>
                            <th>{{ 'description' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in skill.items">
                            <td>{{ item.competitionDay.date|date:'dd.MM.yyyy' }}</td>
                            <td>{{item.competitionDay.timeline}}</td>
                            <td>{{ item.time | limitTo:5 }}</td>
                            <td><a ui-sref="plan({skillId: item.skill_id, day: item.competitionDay.timeline})">{{item.description.text}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div ng-show="loading">
    <ws-spinner></ws-spinner>
</div>
