<p>
    <span class="text-muted">{{ event.name || "&nbsp;" }}</span>
</p>

<h1>{{ 'lunch_summary' | translate }}</h1>

<p class="text-muted">{{ 'message_number_of_people_excl_lunch_in_workshop' | translate }} {{ 'see' | translate }} <a ui-sref="report_lunch_in_workshop({eventId: event.id})" target="_blank">{{ 'lunch_in_workshop' | translate }}</a>.</p>

<hr/>

<div ng-repeat="day in competitionDays.days | filter:{lunch:true}">
    <h3>{{ 'day' | translate }} {{ day.timeline }} <small>{{ day.date|date:'EEEE, d MMMM yyyy' }}</small></h3>

    <table class="table table-striped table-condensed">
        <colgroup>
            <col width="50%" />
            <col width="50%" />
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'time' | translate }}</th>
                <th>{{ 'people' | translate }}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="2"></td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="report in report.reports | filter:{competition_day_id:day.id, lunch_period:{id: lunchPeriod.id}}:true">
                <td>
                    {{ report.lunch_period.start_time | limitTo:5 }} - {{ report.lunch_period.end_time | limitTo:5 }}
                </td>
                <td>
                    {{ report.total }}
                </td>
            </tr>
            <tr>
                <td><strong>{{ 'total' | translate }} {{ day.timeline }}</strong></td>
                <td><strong>{{ day.total }}</strong></td>
            </tr>
        </tbody>
    </table>
</div>
