<ol class="breadcrumb">
    <li><a ui-sref="events">Events</a></li>
    <li><a ui-sref="event.skills({eventId: skill.event.id})">{{ skill.event.name }}</a></li>
    <li><a ui-sref="skill({eventId: skill.event.id, skillId: skill.id})">{{ skill.number }} {{ skill.name.text }}</a></li>
    <li class="active">Competition Timetable</li>
</ol>

<div class="pull-right">
    <button class="btn btn-default" ng-click="changeSkill()" ng-show="skills.skills.length > 1">Change Skill</button>
</div>

<p class="text-muted">
    {{ skill.event.name || "&nbsp;" }}
    <br/>
    {{ skill.number }} {{ skill.name.text || "&nbsp;" }}
</p>

<h1 class="align-top">Competition Timetable</h1>

<div ng-show="loading">
    <ws-spinner></ws-spinner>
</div>

<ul class="nav nav-tabs" ng-show="!loading">
    <li ng-repeat="day in competitionDays.days" ui-sref-active="'active'"><a ui-sref="skill_timetable.day({eventId: skill.event.id, skillId: skill.id, day: day.timeline})" ui-sref-opts="{location: 'replace'}">{{ day.timeline }}</a></li>
</ul>

<div ui-view ng-show="!loading"></div>
