<p class="pull-right">
    <a class="btn btn-primary" ui-sref="plan({skillId: skill.id, day: active.day.timeline})" target="_blank">Preview Plan</a>
    <button class="btn btn-default" ng-click="changeSkill()" ng-show="skills.skills.length > 1">Change Skill</button>
</p>

<h1 class="align-top">
    <small>{{ skill.event.name || "&nbsp;" }}</small>
    <br/>
    {{ skill.number }} {{ skill.name.text || "&nbsp;" }}
</h1>

<div ng-show="loading">
    <ws-spinner></ws-spinner>
</div>

<ul class="nav nav-tabs" ng-show="!loading">
    <li ng-repeat="day in competitionDays.days" ui-sref-active="'active'"><a ui-sref="skill_plan.day({eventId: skill.event.id, skillId: skill.id, day: day.timeline})" ui-sref-opts="{location: 'replace'}">{{ day.timeline }}</a></li>
</ul>

<div ui-view ng-show="!loading"></div>
