<div class="pull-right">
    <span ng-show="active.group" class="text-muted">{{active.group.name}}&nbsp;&nbsp;</span>
    <div class="btn-group" uib-dropdown>
        <button id="single-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle ng-disabled="disabled">Filter <span class="caret"></span></button>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li>
                <a href ng-click="filterGroups(null)">All Groups</a>
            </li>
            <li ng-repeat="group in groups.groups | filter:{type:'COMPETITOR'}:true">
                <a href ng-click="filterGroups(group)">{{ group.name }}</a>
            </li>
        </ul>
    </div>
</div>

<h3>Competition Timetable Day {{ active.day.timeline }}</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title text-center">{{ active.day.date|date:'EEEE, d MMMM yyyy' }}</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-6">
                <col class="col-xs-4">
            </colgroup>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Description</th>
                    <th>Group</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in skillItems.items | filter:filterItems | orderBy:['start_time','end_time'] as filteredItems" class="form-group form-group-sm">
                    <td>
                        <span class="text-muted">{{ item.start_time | limitTo:5 }} - {{ item.end_time | limitTo:5 }}</span>
                    </td>
                    <td>
                        <a href ng-if="!skill.event.locked" ng-click="editItem(item)">{{ item.description.text }}</a>
                        <span ng-if="skill.event.locked">{{ item.description.text }}</span>
                    </td>
                    <td>
                        {{ item.group.name }}
                    </td>
                </tr>
                <tr ng-show="!filteredItems.length">
                    <td colspan="3">No entries.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button type="button" class="btn btn-success btn-sm" ng-click="addItem()" ng-disabled="skill.event.locked"><span class="glyphicon glyphicon-plus"></span> Add Item</button>
