<ol class="breadcrumb">
    <li><a ui-sref="events">Events</a></li>
    <li><a ui-sref="event.skills({eventId: skill.event.id})">{{ skill.event.name }}</a></li>
    <li class="active">{{ skill.number }} {{ skill.name.text || "&nbsp;" }}</li>
</ol>

<div class="pull-right">
    <div class="btn-group" uib-dropdown ng-show="userIsAdmin">
        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">Tools <span class="caret"></span></button>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ui-sref="admin_skill.experts({eventId: skill.event.id, skillId: skill.id})">Skill Admin</a></li>
        </ul>
    </div>
</div>

<div>
    <span class="text-muted">{{ skill.event.name || "&nbsp;" }}</span>
</div>

<h1 class="align-top">{{ skill.number }} {{ skill.name.text || "&nbsp;" }}</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Skill Management</div>
      <div class="panel-body">
        <p ng-show="userCanViewManagementPlan">
          <a ui-sref="plan({skillId: skill.id, day: 'C1'})">Skill Management Plan</a>
          <span> </span>
          <a ng-show="userCanEditSkillItems" ui-sref="skill_plan.day({eventId: skill.event.id, skillId: skill.id, day: 'C1'})">(Edit)</a>
        </p>
        <p ng-show="userCanViewTimetable"><a ui-sref="timetable_index({eventId: skill.event.id})">Competition Timetable</a></p>
        <p ng-show="userCanEditSkillItems"><a ui-sref="skill_timetable.day({eventId: skill.event.id, skillId: skill.id, day: 'C1'})">Edit Competition Timetable</a></p>
        <p ng-show="userCanEditSubmissions"><a ui-sref="form_submission_list({eventId: skill.event.id, skillId: skill.id})">Check Forms</a></p>
        <p ng-show="userCanViewSubmissionsExperts"><a ui-sref="form_submissions_experts({eventId: skill.event.id, skillId: skill.id})">Form Submissions (Experts)</a></p>
        <p ng-show="userCanEditLunch"><a ui-sref="lunch.day({eventId: skill.event.id, skillId: skill.id, day: 'C1'})">Edit Lunch Times</a></p>
        <p ng-show="userCanEditLunch"><a ui-sref="lunch_group_list({eventId: skill.event.id, skillId: skill.id})">Edit Groups</a></p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Related Apps</div>
      <div class="panel-body">
        <p ng-show="userCanViewInfrastructureList"><a href="{{WORLDSKILLS_WEB_PROTOCOL}}il.{{WORLDSKILLS_WEB_DOMAIN}}/#/events/{{skill.event.id}}/skills/{{skill.id}}/public" target="_blank" title="Opens in new window">Infrastructure Lists <span class="glyphicon glyphicon-new-window"></span></a></p>
      </div>
    </div>
    <!--
    <div class="panel panel-default">
      <div class="panel-heading">Competitors</div>
      <div class="panel-body">
        
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Experts</div>
      <div class="panel-body">
        
      </div>
    </div>
    -->
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="testProject.resources.length">
      <div class="panel-heading">Test Project</div>
      <div class="panel-body">
        <p ng-repeat="resource in testProject.resources"><a href="{{ WorldSkills.getLink(resource.links, 'web_download') }}"><span class="glyphicon glyphicon-file"></span> {{resource.name.text}}</a></p>
      </div>
    </div>
    <!--
    <div class="panel panel-default">
      <div class="panel-heading">Votes</div>
      <div class="panel-body">
        
      </div>
    </div>
    -->
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="technicalDescription.resources.length || workshopLayouts.resources.length || healthSafetyEnvironment.resources.length || occupationalStandard.resources.length">
      <div class="panel-heading">Resources</div>
      <div class="panel-body">
        <p ng-repeat="resource in technicalDescription.resources"><a href="{{ WorldSkills.getLink(resource.links, 'web_download') }}"><span class="glyphicon glyphicon-file"></span> Technical Description (PDF)</a></p>
        <p ng-repeat="resource in workshopLayouts.resources"><a href="{{ WorldSkills.getLink(resource.links, 'web_download') }}"><span class="glyphicon glyphicon-file"></span> Workshop Layout (PDF)</a></p>
        <p ng-repeat="resource in healthSafetyEnvironment.resources"><a href="{{ WorldSkills.getLink(resource.links, 'web_download') }}"><span class="glyphicon glyphicon-file"></span> Health, Safety, and Environment (PDF)</a></p>
        <p ng-repeat="resource in occupationalStandard.resources"><a href="{{ WorldSkills.getLink(resource.links, 'web_download') }}"><span class="glyphicon glyphicon-file"></span> Occupational Standard (PDF)</a></p>
      </div>
    </div>
  </div>
</div>
