<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: skill.event.id})">{{ skill.event.name }}</a></li>
    <li class="active">{{ skill.number }} {{ skill.name.text || "&nbsp;" }}</li>
</ol>

<alerts></alerts>

<div class="pull-right">
    <div class="btn-group" uib-dropdown ng-show="userIsAdmin">
        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">{{ 'tools' | translate }} <span class="caret"></span></button>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ui-sref="admin_skill.expert_nominations({eventId: skill.event.id, skillId: skill.id})">{{ 'skill_admin' | translate }}</a></li>
        </ul>
    </div>
</div>

<div>
    <span class="text-muted">{{ skill.event.name || "&nbsp;" }}</span>
</div>

<h1 class="align-top">{{ skill.number }} {{ skill.name.text || "&nbsp;" }}</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="userCanViewManagementPlan || userCanViewTimetable || userCanEditSkillItems || userCanEditSubmissions || userCanViewSubmissionsExperts || userCanEditLunch">
      <div class="panel-heading">{{ 'skill_management' | translate }}</div>
      <div class="panel-body">
        <p ng-show="userCanViewManagementPlan">
          <a ui-sref="plan({skillId: skill.id, day: 'C1'})">{{ 'skill_management_plan' | translate }}</a>
          <span> </span>
          <a ng-show="userCanEditSkillItems" ui-sref="skill_plan.day({eventId: skill.event.id, skillId: skill.id, day: 'C1'})">({{ 'edit' | translate }})</a>
        </p>
        <p ng-show="userCanViewTimetable">
          <a ui-sref="timetable_index({eventId: skill.event.id, skillId: skill.id})">{{ 'competitor_timetable' | translate }}</a>
          <span> </span>
          <a ng-show="userCanEditSkillItems" ui-sref="skill_timetable.day({eventId: skill.event.id, skillId: skill.id, day: 'C1'})">({{ 'edit' | translate }})</a>
        </p>
        <p ng-show="userCanEditSubmissions"><a ui-sref="form_submission_list({eventId: skill.event.id, skillId: skill.id})">{{ 'check_forms' | translate }}</a></p>
        <p ng-show="userCanViewSubmissionsExperts"><a ui-sref="form_submissions_experts({eventId: skill.event.id, skillId: skill.id})">{{ 'form_submissions_experts' | translate }}</a></p>
        <p ng-show="userCanEditLunch"><a ui-sref="lunch.day({eventId: skill.event.id, skillId: skill.id, day: 'C1'})">{{ 'edit_lunch_times' | translate }}</a></p>
        <p ng-show="userCanEditLunch"><a ui-sref="lunch_group_list({eventId: skill.event.id, skillId: skill.id})">{{ 'edit_groups' | translate }}</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="skill.smt_election_state == 'IN_PROGRESS' && userCanVote">
      <div class="panel-heading">{{ 'scm_election' | translate }}</div>
      <div class="panel-body">
        <div ng-show="smtElectionVote.id && !smtElectionVoteEdit">
          <p>
            <strong>{{ 'first_choice_3_points' | translate }}</strong><br>
            {{smtElectionVote.first_choice.person.first_name}} {{smtElectionVote.first_choice.person.last_name}} {{smtElectionVote.first_choice.member.code}}
          </p>
          <p ng-show="smtElectionVote.second_choice.id">
            <strong>{{ 'second_choice_2_points' | translate }}</strong><br>
            {{smtElectionVote.second_choice.person.first_name}} {{smtElectionVote.second_choice.person.last_name}} {{smtElectionVote.second_choice.member.code}}
          </p>
          <p ng-show="smtElectionVote.third_choice.id">
            <strong>{{ 'third_choice_1_point' | translate }}</strong><br>
            {{smtElectionVote.third_choice.person.first_name}} {{smtElectionVote.third_choice.person.last_name}} {{smtElectionVote.third_choice.member.code}}
          </p>
          <p><a ng-click="smtElectionVoteEdit = true" class="btn btn-default btn-xs">{{ 'scm_election_vote_edit' | translate }}</a></p>
        </div>
        <div ng-show="!smtElectionVote.id || smtElectionVoteEdit">
          <div class="form-group">
            <label for="smtElectionVoteFirstChoice">{{ 'first_choice_3_points' | translate }}</label>
            <select class="form-control" id="smtElectionVoteFirstChoice" ng-model="smtElectionVote.first_choice.id" convert-to-number>
              <option></option>
              <option ng-repeat="expert in experts.registrations | filter:{person:{nominated_smt:true}}" value="{{expert.person.id}}" ng-disabled="expert.person.id == smtElectionVote.second_choice.id || expert.person.id == smtElectionVote.third_choice.id">{{ expert.person.person.first_name }} {{ expert.person.person.last_name }} {{ expert.member.code }}</option>
            </select>
          </div>
          <div class="form-group" ng-show="filteredExpertsSmtElectionSecondChoice.length > 1">
            <label for="smtElectionVoteSecondChoice">{{ 'second_choice_2_points' | translate }}</label>
            <select class="form-control" id="smtElectionVoteSecondChoice" ng-model="smtElectionVote.second_choice.id" convert-to-number>
              <option></option>
              <option ng-repeat="expert in experts.registrations | filter:{person:{nominated_smt:true}} as filteredExpertsSmtElectionSecondChoice" value="{{expert.person.id}}" ng-disabled="expert.person.id == smtElectionVote.first_choice.id || expert.person.id == smtElectionVote.third_choice.id">{{ expert.person.person.first_name }} {{ expert.person.person.last_name }} {{ expert.member.code }}</option>
            </select>
          </div>
          <div class="form-group" ng-show="filteredExpertsSmtElectionThirdChoice.length > 2">
            <label for="smtElectionVoteThirdChoice">{{ 'third_choice_1_point' | translate }}</label>
            <select class="form-control" id="smtElectionVoteThirdChoice" ng-model="smtElectionVote.third_choice.id" convert-to-number>
              <option></option>
              <option ng-repeat="expert in experts.registrations | filter:{person:{nominated_smt:true}} as filteredExpertsSmtElectionThirdChoice" value="{{expert.person.id}}" ng-disabled="expert.person.id == smtElectionVote.first_choice.id || expert.person.id == smtElectionVote.second_choice.id">{{ expert.person.person.first_name }} {{ expert.person.person.last_name }} {{ expert.member.code }}</option>
            </select>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-link" ng-click="smtElectionVoteEdit = false" ng-show="smtElectionVote.id">{{ 'cancel' | translate }}</button>
            <button type="submit" class="btn btn-success" ng-click="smtElectionVoteSave()" ng-disabled="!smtElectionVote.first_choice.id || (filteredExpertsSmtElectionSecondChoice.length > 1 && !smtElectionVote.second_choice.id) || (filteredExpertsSmtElectionThirdChoice.length > 2 && !smtElectionVote.third_choice.id)">{{ 'scm_election_vote' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-show="userCanViewProgressItemsReport || userCanViewProgressItems">
      <div class="panel-heading">{{ 'preparation_progress' | translate }}</div>
      <div class="panel-body">
        <p ng-show="userCanEditSkillProgressItems"><a ui-sref="admin_skill.progress({eventId: skill.event.id, skillId: skill.id})">{{ 'edit_progress_items' | translate }}</a></p>
        <div ng-show="userCanViewProgressItemsReport">
          <div>{{ 'summary' | translate }}:</div>
          <div class="progress">
            <div
              ng-repeat="report in progressItemsReport.reports"
              ng-style="{'background-color': report.status.color, 'border-bottom-color': report.status.color}"
              class="progress-bar" style="width: {{report.total / progressItemsReportTotal * 100}}%">
              <span uib-tooltip="{{report.status.name.text}}" tooltip-placement="top" tooltip-trigger="mouseenter" class="">{{report.total}}</span>
            </div>
          </div>
        </div>
        <div class="row" ng-repeat="item in progressItems.skill_progress_items | filter:{progress_item: {has_status: true}}">
          <div class="col-xs-8"><p>{{item.progress_item.title.text}}</p></div>
          <div class="col-xs-4"><p class="text-right"><span class="label" style="background-color: {{item.status.color || '#999'}}; color: #fff;">{{item.status.name.text || ('unknown' | translate)}}</span></p></div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-show="polls.items.length">
      <div class="panel-heading">{{ 'polls' | translate }}</div>
      <div class="panel-body">
        <div ng-repeat="poll in polls.items">
          <p><strong>{{poll.title.text}}</strong></p>
          <p>{{poll.question.text}}</p>
          <ul class="list-unstyled">
            <li ng-repeat="option in poll.options">- {{option.text.text}}</li>
          </ul>
          <p><a href="{{WORLDSKILLS_WEB_PROTOCOL}}votes.{{WORLDSKILLS_WEB_DOMAIN}}/polls/{{poll.id}}/result" class="btn btn-primary btn-sm" target="_blank">{{ 'go_to_poll' | translate }}</a></p>
          <hr ng-hide="$last" />
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-show="testProject.resources.length">
      <div class="panel-heading">{{ 'test_project' | translate }}</div>
      <div class="panel-body">
        <p ng-repeat="resource in testProject.resources"><a href="{{ WorldSkills.getLink(resource.links, 'web_download') }}" target="_blank" rel="noopener"><span class="glyphicon glyphicon-file"></span> {{resource.name.text}}</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="userCanViewDocument && documents.documents.length">
      <div class="panel-heading">{{ 'documents' | translate }}</div>
      <div class="panel-body">
        <p ng-repeat="document in documents.documents"><a ui-sref="document({eventId: skill.event.id, documentId: document.id, skillId: skill.id})"><span class="glyphicon glyphicon-book"></span> {{document.name.text}}</a></p>
      </div>
    </div>
    <div class="panel panel-default" ng-show="technicalDescription.resources.length || workshopLayouts.resources.length || healthSafetyEnvironment.resources.length || occupationalStandard.resources.length">
      <div class="panel-heading">{{ 'resources' | translate }}</div>
      <div class="panel-body">
        <p ng-repeat="resource in technicalDescription.resources"><a href="{{ WorldSkills.getLink(resource.links, 'web_download') }}" target="_blank" rel="noopener"><span class="glyphicon glyphicon-file"></span> {{ 'technical_description_pdf' | translate }}</a></p>
        <p ng-repeat="resource in workshopLayouts.resources"><a href="{{ WorldSkills.getLink(resource.links, 'web_download') }}" target="_blank" rel="noopener"><span class="glyphicon glyphicon-file"></span> {{ 'workshop_layout_pdf' | translate }}</a></p>
        <p ng-repeat="resource in healthSafetyEnvironment.resources"><a href="{{ WorldSkills.getLink(resource.links, 'web_download') }}" target="_blank" rel="noopener"><span class="glyphicon glyphicon-file"></span> {{ 'hse_pdf' | translate }}</a></p>
        <p ng-repeat="resource in occupationalStandard.resources"><a href="{{ WorldSkills.getLink(resource.links, 'web_download') }}" target="_blank" rel="noopener"><span class="glyphicon glyphicon-file"></span> {{ 'wsos_pdf' | translate }}</a></p>
      </div>
    </div>
    <div class="panel panel-default" ng-show="userCanViewForum || userCanViewInfrastructureList || userCanViewRegoRegistrations">
      <div class="panel-heading">{{ 'related_apps' | translate }}</div>
      <div class="panel-body">
        <p ng-show="userCanViewForum"><a href="{{WORLDSKILLS_WEB_PROTOCOL}}forums.{{WORLDSKILLS_WEB_DOMAIN}}/feed/entity/{{skill.entity_id}}" target="_blank" title="Opens in new window"><span class="glyphicon glyphicon-link"></span> {{ 'forums' | translate }}</a></p>
        <p ng-show="userCanViewInfrastructureList"><a href="{{WORLDSKILLS_WEB_PROTOCOL}}il.{{WORLDSKILLS_WEB_DOMAIN}}/#/events/{{skill.event.id}}/skills/{{skill.id}}/public" target="_blank" title="Opens in new window"><span class="glyphicon glyphicon-link"></span> {{ 'infrastructure_lists' | translate }}</a></p>
        <p ng-show="userCanViewRegoRegistrations"><a href ng-click="downloadSkillPersonnelReport()" ng-disabled="loadingSkillPersonnelReport"><span class="glyphicon glyphicon-download-alt"></span> {{ 'download_skill_personnel_report_xlsx' | translate }}</a></p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="people.people.length">
      <div class="panel-heading">{{ 'skill_positions' | translate }}</div>
      <div class="panel-body">
        <div class="media" ng-repeat="person in people.people">
          <div class="media-left media-middle">
            <img class="img-circle media-object" ng-show="person.images[0]" ng-src="{{person.images[0].thumbnail}}_square" width="30" height="30">
            <img class="img-circle media-object" ng-show="!person.images[0]" src="https://people.worldskills.org/images/user.png" width="30" height="30">
          </div>
          <div class="media-body">
            {{ person.first_name }} {{ person.last_name }}
            <span class="text-muted" ng-repeat="position in person.positions" ng-if="position.skill.id == skill.id"><br/>{{ position.position.name.text }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-show="interpreters.people.length">
      <div class="panel-heading">{{ 'interpreters' | translate }} ({{ interpreters.people.length }})</div>
      <div class="panel-body">
        <div class="media" ng-repeat="person in interpreters.people">
          <div class="media-left media-middle">
            <img class="img-circle media-object" ng-show="person.images[0]" ng-src="{{person.images[0].thumbnail}}_square" width="30" height="30">
            <img class="img-circle media-object" ng-show="!person.images[0]" src="https://people.worldskills.org/images/user.png" width="30" height="30">
          </div>
          <div class="media-body">
            {{ person.first_name }} {{ person.last_name }}
            <span class="text-muted" ng-repeat="position in person.positions" ng-if="position.skill.id == skill.id"><br/>{{ position.member.code }} - {{ position.member.name.text }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="experts.registrations.length && userCanViewRegistrations">
      <div class="panel-heading">{{ 'experts' | translate }} ({{ experts.registrations.length }})</div>
      <div class="panel-body">
        <p ng-show="userCanEditExperts"><a ui-sref="admin_skill.expert_nominations({eventId: skill.event.id, skillId: skill.id})">{{ 'edit_chief_expert_nominations' | translate }}</a></p>
        <div class="media" ng-repeat="expert in experts.registrations">
          <div class="media-left media-middle">
            <img class="img-circle media-object" ng-show="expert.person.person.images[0]" ng-src="{{expert.person.person.images[0].thumbnail}}_square" width="30" height="30">
            <img class="img-circle media-object" ng-show="!expert.person.person.images[0]" src="https://people.worldskills.org/images/user.png" width="30" height="30">
          </div>
          <div class="media-body">
            {{ expert.person.person.first_name }} {{ expert.person.person.last_name }}
            <span class="text-muted"><br/>{{ expert.member.code }} - {{ expert.member.name.text }}</span>
            <span class="text-info" ng-if="skill.smt_election_state != 'COMPLETED' && expert.person.nominated_smt"><br/>{{ 'nominated_for_chief_expert' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-show="peopleExperts.people.length && !userCanViewRegistrations">
      <div class="panel-heading">{{ 'experts' | translate }}</div>
      <div class="panel-body">
        <div class="media" ng-repeat="person in peopleExperts.people">
          <div class="media-left media-middle">
            <img class="img-circle media-object" ng-show="person.images[0]" ng-src="{{person.images[0].thumbnail}}_square" width="30" height="30">
            <img class="img-circle media-object" ng-show="!person.images[0]" src="https://people.worldskills.org/images/user.png" width="30" height="30">
          </div>
          <div class="media-body">
            {{ person.first_name }} {{ person.last_name }}
            <span class="text-muted" ng-repeat="position in person.positions" ng-if="position.skill.id == skill.id"><br/>{{ position.member.code }} - {{ position.member.name.text }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="competitors.registrations.length && userCanViewRegistrations">
      <div class="panel-heading">{{ 'competitors' | translate }} ({{ competitors.registrations.length }})</div>
      <div class="panel-body">
        <div class="media" ng-repeat="competitor in competitors.registrations">
          <div class="media-left media-middle">
            <img class="img-circle media-object" ng-show="competitor.person.person.images[0]" ng-src="{{competitor.person.person.images[0].thumbnail}}_square" width="30" height="30">
            <img class="img-circle media-object" ng-show="!competitor.person.person.images[0]" src="https://people.worldskills.org/images/user.png" width="30" height="30">
          </div>
          <div class="media-body">
            {{ competitor.person.person.first_name }} {{ competitor.person.person.last_name }}
            <span class="text-muted"><br/>{{ competitor.member.code }} - {{ competitor.member.name.text }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-show="peopleCompetitors.people.length && !userCanViewRegistrations">
      <div class="panel-heading">{{ 'competitors' | translate }}</div>
      <div class="panel-body">
        <div class="media" ng-repeat="person in peopleCompetitors.people">
          <div class="media-left media-middle">
            <img class="img-circle media-object" ng-show="person.images[0]" ng-src="{{person.images[0].thumbnail}}_square" width="30" height="30">
            <img class="img-circle media-object" ng-show="!person.images[0]" src="https://people.worldskills.org/images/user.png" width="30" height="30">
          </div>
          <div class="media-body">
            {{ person.first_name }} {{ person.last_name }}
            <span class="text-muted" ng-repeat="position in person.positions" ng-if="position.skill.id == skill.id"><br/>{{ position.member.code }} - {{ position.member.name.text }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
