<ol class="breadcrumb">
    <li><a ui-sref="events">{{ 'events' | translate }}</a></li>
    <li><a ui-sref="event.skills({eventId: skill.event.id})">{{ skill.event.name }}</a></li>
    <li><a ui-sref="skill({eventId: skill.event.id, skillId: skill.id})">{{ skill.number }} {{ skill.name.text }}</a></li>
    <li class="active">{{ 'skill_management_plan' | translate }}</li>
</ol>

<p class="pull-right">
    <a class="btn btn-primary" ui-sref="plan({skillId: skill.id, day: active.day.timeline})">{{ 'preview_plan' | translate }}</a>
    <button class="btn btn-default" ng-click="changeSkill()" ng-show="skills.skills.length > 1">{{ 'change_skill' | translate }}</button>
</p>

<p class="text-muted">
    {{ skill.event.name || "&nbsp;" }}
    <br/>
    {{ skill.number }} {{ skill.name.text || "&nbsp;" }}
</p>

<h1 class="align-top">{{ 'skill_management_plan' | translate }}</h1>

<div ng-show="loading">
    <ws-spinner></ws-spinner>
</div>

<ul class="nav nav-tabs" ng-show="!loading">
    <li ng-repeat="day in competitionDays.days" ui-sref-active="'active'"><a ui-sref="skill_plan.day({eventId: skill.event.id, skillId: skill.id, day: day.timeline})" ui-sref-opts="{location: 'replace'}">{{ day.timeline }}</a></li>
</ul>

<div ui-view ng-show="!loading"></div>
