<div class="modal-header">
    <button type="button" class="close" ng-click="cancelRegistrationModal()"><span>&times;</span></button>
    <h2 class="modal-title">Competitors</h2>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <colgroup>
                <col width="50%">
                <col width="50%">
            </colgroup>
            <thead>
                <tr>
                    <th>Skill</th>
                    <th>Competitor</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="registration in registrations.registrations">
                    <td>
                        <a ui-sref="timetable({eventId: registration.skill.event.id, memberRegPositionId: registration.id, day: active.day.timeline})">
                            {{ registration.skill.number }} {{ registration.skill.name.text }}
                        </a>
                    </td>
                    <td>
                        <a ui-sref="timetable({eventId: registration.skill.event.id, memberRegPositionId: registration.id, day: active.day.timeline})">
                            {{ registration.person.person.first_name }} {{ registration.person.person.last_name }}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
